[2022-04-27 12:18] joangcc commented on #377
Update: the value of FALSE could be explained due to rsq_lm being greater than rsq_nls, as in line 565 of [inputs.R](https://github.com/facebookexperimental/Robyn/blob/main/R/R/inputs.R) of commit [we used](https://github.com/facebookexperimental/Robyn/commit/e04a6ce46c3847437e5c82b138eeae7663c017b7).

[2022-04-27 12:18] #377 closed

[2022-04-27 16:38] kyletgoldberg commented on #359
@GrizzledLotus what does your `date_var` have in it when you get that error?

[2022-04-28 16:19] kyletgoldberg commented on #374
Hi - thanks for the question and apologies for the delay in getting back to you. This is working as intended, since Weibull adstock (esp. scale param) is in fact dependent on the length of the dataset. I'll illustrate here with an example -

![image](https://user-images.githubusercontent.com/84025306/165798182-2a1ac307-e82f-4eb8-9079-bdf58d8a0950.png)

Looking at this chart in the bottom left, whe

[2022-04-28 16:32] kyletgoldberg commented on #376
can you try loading your robyn_object with `readRDS` before running `robyn_refresh`? so it would look like -

`robyn_object <- readRDS("C:\Users\lbarta\RStudio\RData\v2\OSBModel_BASE.RDS")`

and then just having the `robyn_refresh` function call look like -

[code]

[2022-04-29 09:28] lulu-yang-gao commented on #211
I have run the model in a good way for the first 2 trials,  one with the demo and one with my own data, while i have encounter the same issue with py_call_impl, unexpected arguement 'lower', I have tried remotes::install_github("rstudio/reticulate"), but it doesn't work, seems I need to reinstall from the very beginning.

[2022-04-29 09:42] Tsurty commented on #366
Hello @laresbernardo I've built another model, completely different data etc.
The model looks good both business-wise and statistics-wise (Rsq 87% - NRMSE 0.05)

Anyway if I try to run the Budget Allocators, even without any warning about 0 coefs, the date min and max won't work
[code]

If I run the allocator without those parameters it works.
However I tried to run the updated QA
[code]

An as yo

[2022-04-29 09:48] Tsurty commented on #366
Nevermind about this, I was missing the line in which I defined metric_value
Anyway I tested both the previous and updated way to do this, both works

Some medias return me TRUE and some FALSE, what does this actually mean and how can I fix this?

[2022-04-29 14:39] laresbernardo commented on #366
[This section](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R#L397-L419) of the demo.R file gives you an example of how you can calculate and plot the response for a given media variable (paid or not paid). In `media_metric` you pass the selected media channel and `metric_value` will be the spend value for paid media variables and the impressions or whatever response for non-p

[2022-05-02 08:56] Tsurty commented on #366
I'm probably missing out something here but I don't get why I keep getting this error even now that metric_value is defined and positive and all coefficients are positive and non-zero
![Schermata 2022-05-02 alle 10 53 20](https://user-images.githubusercontent.com/43139944/166209664-1f5510e8-4cf0-46d3-8b00-9610bee60a66.png)

I'm up to any additional tests/validations you'd like me to do

[2022-05-02 13:19] laresbernardo commented on #366
Hi @Tsurty can you please make sure you're testing the latest version? Can you try narrowing it down to a minimum reproducible example? The `metric_value` for which metric is negative? That must be happening with a not paid media variable (I guess it'd be useful to have that into that error) because the paid media variables' metric values are the ones you shared in the screenshot.

[2022-05-02 13:39] laresbernardo commented on #366
I've just updated the (internal) `check_metric_value()` function and it will print which media variable is causing this error.

[2022-05-03 12:58] Tsurty commented on #366
I haven't been able to update the library, I'm getting the following error:
[code]
Anyway I'll look into it later on.

In the meantime I checked the coefs via the all_aggregated.csv file and there's a 0 coefficient **organic** variable which is "o_google"
![image](https://user-images.githubusercontent.com/43139944/166456964-bd524fda-9180-4867-8931-ac5f0b83b9c7.png)

I'm not sure why this would bre

[2022-05-03 13:35] laresbernardo commented on #366
Please try setting this first `options(timeout=400)` as mentioned [here](https://github.com/facebookexperimental/Robyn/issues/309).

[2022-05-03 14:37] laresbernardo commented on #366
Yes.

Please, try changing that check to the following to show both values:

[code]

[2022-05-03 16:48] Tsurty commented on #366
@laresbernardo The problem was that one of my media channel happens to have all 0 spends in the timeframe used, because we chose to turn that off completely.

The check you suggested above didn't work because, when the spends are all 0, metric_value doesn't contain 0 but NaN as you can see down here
![image](https://user-images.githubusercontent.com/43139944/166500390-ae34657d-5666-4d4c-8f81-32355

[2022-05-03 18:07] laresbernardo commented on #366
Yes, that's it! I think you've finally found the bug here. So I'll add a new `is.nan()` check and let the user know that all metric values are zero for that specific media channel and will be removed/ignored.

[2022-05-03 19:16] laresbernardo commented on #366
@Tsurty I was able to replicate your issue and test my fix. Now we 1. warn the user when there's no spend in a paid media variable and 2. added as skipped media variable in the `print` method. Can you please update the package and test it out once again? Thanks for catching this case/bug.

[2022-05-04 04:56] Tsurty commented on #366
@laresbernardo Yes! It's working correctly now. I'll test this feature more "in depth" in the upcoming days and I'll report if any new issue comes up.

Thanks a lot for the help :)

[2022-05-04 18:29] laresbernardo commented on #270
`robyn_onepagers()` should do the trick

[2022-05-04 18:30] #189 closed

[2022-05-04 18:30] #365 closed

[2022-05-04 18:30] #345 closed

[2022-05-04 18:32] #359 closed

[2022-05-04 21:09] miaox018 commented on #211
I've got same issue, anyone has a final solution? @gufengzhou
This is my py_config() returns:
python:         C:/Users/xxxx/anaconda3/envs/r-reticulate/python.exe
libpython:      C:/Users/xxxx/anaconda3/envs/r-reticulate/python39.dll
pythonhome:     C:/Users/xxxx/anaconda3/envs/r-reticulate
version:        3.9.0 | packaged by conda-forge | (default, Nov 26 2020, 07:53:15) [MSC v.1916 64 bit (AMD64

[2022-05-05 14:58] lulu-yang-gao commented on #211
Hi, what’s your version of Robyn then? My version of Robyn was 3.5.x previously, and currently the latest version is 3.6.3. I thought it might be the Robyn version issue to pop the error warning, so I tried to remove previous Robyn and reinstall, then I found the my rlang should also be updated to 1.0.2. After rlang to 1.0.2, Robyn to 3.6.3, and I also remove packages reticulate and get it reinsta

[2022-05-05 15:10] #259 closed

[2022-05-05 15:11] #257 closed

[2022-05-06 07:43] catchrishi commented on #339
It's still not clear, but as per my discussions, it looks like more of an internal IT restrictions  than the Robyn package itself.

[2022-05-10 10:54] Leonelsentana commented on #223
https://hub.docker.com/layers/leosentana/robyn/v3.6.4/images/sha256:43dd6a8995071b64b0960785d50a60046eff6c39c3c30c84884f9d1c02db92ea updated image

[2022-05-10 10:54] #223 closed

[2022-05-10 10:55] Leonelsentana commented on #173
https://hub.docker.com/layers/leosentana/robyn/v3.6.4/images/sha256:43dd6a8995071b64b0960785d50a60046eff6c39c3c30c84884f9d1c02db92ea created a docker updated image for this issue

[2022-05-10 11:29] Leonelsentana commented on #339
Hi @catchrishi , @HasanShaukat hope you are well. I created a docker image in case it helps to run things on LINUX. LMK if that helps! https://hub.docker.com/layers/leosentana/robyn/v3.6.4/images/sha256:43dd6a8995071b64b0960785d50a60046eff6c39c3c30c84884f9d1c02db92ea

[2022-05-11 05:49] Steven-Livingstone opened #384 "Questions about influence of factor vars on Prophet and waterfall contribution"
## Project Robyn

## Describe issue

Border lock-downs due to COVID have had an obvious and negative impact on the dependent variable. To measure this impact, Border lock-downs have been encoded as a categorical context variable in Robyn(0=open_border or 1=closed_border). Lets call this `Border_Closure_Control`.

I _know_ (by eyeballing the graph) that closing the border has had a prolonged negati

[2022-05-11 22:32] YukeLuo opened #385 "Is Robyn able to predict future value?"
I see in the plot _Actual vs Predicted Response_, Robyn is able to predict and fit the existing data very well. But is it possible to forecast future revenue/conversion? Thank you!

[2022-05-13 14:11] Leonelsentana commented on #384
Hey @Steven-Livingstone prophet and factors vars are used right after prophets decomposition and inclusion into the model as extra coefficients just as you said in your last comment. In this case it may be worth to change `intercept_sign` parameter to "unconstrained" which is set by default to "non_negative", sometimes the intercept being forced to be positive may harm the effects of context_vars,

[2022-05-13 15:55] Leonelsentana commented on #173
Sharing the docker

[2022-05-13 15:57] Leonelsentana commented on #173
Sharing the dockerfile and other helping docks
[docker.zip](https://github.com/facebookexperimental/Robyn/files/8689196/docker.zip)

[2022-05-13 15:57] #173 closed

[2022-05-17 12:35] slavakx commented on #245
Hi

I reopened this ticket because I figured out that now media spends are indeed used for season/trend decomposition. I probably missed the discussion about why you changed your approach.

[2022-05-17 14:32] #245 closed

[2022-05-17 20:17] Steven-Livingstone commented on #384
Hi @Leonelsentana, thank-you for those suggestions!

While working on them could you link to where I would be able to "add the border control event as a regressor in prophet". Is this what you're referring to in the "Pro-tip: Customize holiday & event information" of the [analysts-guide-to-MMM](https://facebookexperimental.github.io/Robyn/docs/analysts-guide-to-MMM)

So far `Border_Closure_Control

[2022-05-18 18:38] Leonelsentana commented on #384
Please find the link about how to do it on prophet here: https://facebook.github.io/prophet/docs/seasonality,_holiday_effects,_and_regressors.html#additional-regressors
On Robyn, you can set a custom parameter under robyn_inputs() function. ? robyn_inputs() for more help

[2022-05-20 14:49] Jess625 opened #387 "ROI calculations in outputs when target var is conversions"
## Project Robyn

## Describe issue
I'm noticing that for my model, where I've made the target variable conversions, there are quite a few outputs where either ROAS, ROI, mROI, etc, is given which doesn't make sense because I haven't given any revenue numbers. It would make more sense for these outputs to show CPA, mCPA, etc.

## Listing instances below where revenue related metrics are given as o

[2022-05-20 15:26] Zhangwei112358 opened #388 "The output is null for some specific solution ID"
## Project Robyn

## Describe issue
The model training succeed. Luckily!!!
While it's found the result is null for some specific solution ID in model result.
model_result$OutputCollect$xDecompVecCollect ,select=c("ds","dep_var")
return Null

Not all xDecompVecCollect is empty.

## Environment & Robyn version
R version version 4.1.3 (2022-03-10)
The latest Robyn version

[2022-05-20 15:37] Zhangwei112358 opened #389 "robyn_run() fail in my mac, but the same Rscript works well in my colleagues' windows laptop"
## Project Robyn

## Describe issue
I tried many times with the exact same Rscript with my colleagues.  in robyn_run() function
OutputCollect <- robyn_run(
  InputCollect = InputCollect # feed in all model specification
  , plot_folder = robyn_object # plots will be saved in the same folder as robyn_object
  , pareto_fronts = 5
  , plot_pareto = FALSE
  , csv_out = "all"
  , calibration_constraint

[2022-05-20 15:57] laresbernardo commented on #389
Hi @Zhangwei112358
It seems you are using an outdated version of Robyn and demo.R flow (noticed because `lambda_control` was deprecated some months ago). Can you please try updating and following the demo.R file to see if you get this error?
Id `spd1` a column name from your dataset?

[2022-05-20 16:00] laresbernardo commented on #387
Thanks a lot for your feedback. We do change CPA to conversion models in some outputs but we've definitely missed some others. I'll take a deeper look into this and implement a fix soon. Cheers and happy Friday!

[2022-05-20 18:28] DzimitryM commented on #341
I observe the same issue.
Training the model with the "positive" constrains to all prophet variables results in negative effects at the decomposition waterfall. Some models have negative season effect, some models have negative effect of holidays and weekday.

_Robyn 3.6.3_

[2022-05-21 01:25] Zhangwei112358 commented on #389
Thanks a lot.
I tried "library(Robyn)" again before running robyn_run() function with my current version of Robyn, then it went through well.

[2022-05-21 01:26] Zhangwei112358 commented on #389
I tried "library(Robyn)" again before running robyn_run() function with my current version of Robyn, then it went through well.

I will update and try again.

[2022-05-23 08:58] Sibusiso1995 opened #390 "Getting errors in (remotes::install_github("facebookexperimental/Robyn/R")"
## Describe issue
I am getting an error when I try loading the package I'm not sure why.

<img width="671" alt="Screenshot 2022-05-23 at 10 55 41" src="https://user-images.githubusercontent.com/54172627/169782513-09e7d21b-cc86-41c4-a7e5-ed81c895e4d3.png">

<img width="667" alt="Screenshot 2022-05-23 at 10 56 29" src="https://user-images.githubusercontent.com/54172627/169782665-267fcd3d-2e92-4aca-8

[2022-05-23 14:34] laresbernardo commented on #390
It seems you are having problems installing `h2o` dependency. Try `install.packages("h2o")` first and when that succeeds, try installing Robyn. Installing Robyn from CRAN shouldn't have this issue. If you are OK working with the latest stable (instead of dev) version, try `install.packages("Robyn")` instead of `devtools::remotes(...)`.

[2022-05-23 14:36] laresbernardo commented on #388
Hi @Zhangwei112358 I'm not sure what the issue is. Can you please share more information on the outputs you got? Also, on the inputs you provided. Which version of Robyn are you using? Not sure what you mean by those Null values, what they are or were they come from.

[2022-05-23 15:10] Sibusiso1995 commented on #390
I tried that and I got this message

<img width="665" alt="Screenshot 2022-05-23 at 17 09 22" src="https://user-images.githubusercontent.com/54172627/169850423-457c73db-69d6-4abc-b9fe-8e7b748604fa.png">

[2022-05-23 15:11] laresbernardo commented on #390
Try setting `options(timeout=400)` first... checking at [CRAN's status too[l](](https://cran.r-project.org/web/checks/check_results_h2o.html)url), they seem to be OK.

[2022-05-23 15:29] Sibusiso1995 commented on #390
Thank you so much it worked🙌🏼... Another thing on the demo.R file there is a variable missing of "robyn_inputs" or is it me.

<img width="650" alt="Screenshot 2022-05-23 at 17 27 12" src="https://user-images.githubusercontent.com/54172627/169854083-e69c3acc-87c0-4481-91c3-d33896c0187b.png">

[2022-05-23 15:31] laresbernardo commented on #390
Which variable is missing? Not sure what you mean. `?robyn_inputs` (in the commented section) will open the internal package documentation, and the other one is the part where the function prepares and checks the inputs.

[2022-05-23 15:33] #390 closed

[2022-05-24 15:24] tjscarr opened #392 "check_datevar error when refreshing model"
## Project Robyn

## Describe issue
This may be an edge case and if so feel free to close.

When looking to run a refresh of a model I was encountering the error "'dt_input' has NA or Inf. Please clean data before you proceed" when attempting to run robyn_refresh.

I diagnosed that this was because my input dataset contained fields with some NA's which I had not fed into my model but were still pr

[2022-05-24 19:38] tjscarr commented on #392
Fantastic, all fixed

Thanks for all your work on this @laresbernardo, it's a great package!

[2022-05-24 20:32] #392 closed

[2022-05-25 08:05] giorgossideris opened #393 "README - cross validation"
## Project Robyn

## Describe issue
The <code>README.md</code> file mentions *Ridge regression with cross validation*, although in [this issue](https://github.com/facebookexperimental/Robyn/issues/81) is described that no test-train validation is performed, for the model selection. So, which is the case? and should README be updated?

[2022-05-25 09:08] Leonelsentana commented on #388
Adding my 2 cents, could you please share clearly how model_result$OutputCollect$xDecompVecCollect looks like? Moreover, do you happen to have many periods of time with zero investment in channels? (days, weeks or whatever you defined as minimum granularity)

[2022-05-25 13:41] josetigo opened #394 "Plots titles. Version 3.6.4"
Hi Robyn team,
Regarding the plots titles, in order to make easy the stakeholders interpretation...

- Geometric Adstock: Isn't it proper something like "Fixed prolonged effect rate over time" instead of "Fixed decay rate over the time"?
![image](https://user-images.githubusercontent.com/94695388/170276204-d20d6242-4304-4bc8-933c-f066ee735cf5.png)
- Initial vs Optimized mean response: Could you co

[2022-05-25 15:10] laresbernardo commented on #393
Hi! Thanks for catching this incongruity in the documentation. We did use cross-validation until February 2022, when we changed the lambda selection to be part of the hyperparameters. Will update now...

[2022-05-25 15:20] #393 closed

[2022-05-25 19:00] giorgossideris opened #395 "Variables used for modelling"
## Project Robyn

## Describe issue
After having a look at the code of the project, I concluded that <code>InputCollect.all_media</code> attribute refers to the media variables (both paid and non-paid) to be used for modelling. But, [here](https://github.com/facebookexperimental/Robyn/blob/main/R/R/inputs.R#L227) the <code>paid_media_spends</code> are used instead of the <code>paid_media_vars</cod

[2022-05-25 20:20] Steven-Livingstone commented on #384
@Leonelsentana

# Change intercept_sign parameter to "unconstrained"

Unfortunately this did not have much of an effect, with the waterfall chart still showing counter-intuitive results, albeit with a slightly negative intercept. These tests were also repeated with `Border_Closure_Control` as the _only_ factor and/or context var added to Robyn, with the resulting waterfall charts also showing a ma

[2022-05-26 09:56] berkyasin opened #396 "ROI values in one pager report and pareto clusters does not match"
Hello,

Thank you for this great effort. The library helps a lot.
But i have a small problem. The ROI values in one pager report and pareto clusters does not match with each other as you can also see in the screenshot. What can be the problem?

Thanks in advance.

![ce62f3df-7e7e-4dbd-bd9b-78eba1612f7f](https://user-images.githubusercontent.com/106310147/170465021-5843dd10-d9a9-4ebb-989b-68e2adc1f

[2022-05-26 13:21] laresbernardo commented on #396
Hi @berkyasin
This happens because the values are normalized before we run kmeans clustering. The "real" values are the ones in the plot, and the information in the CSV is left as used when clustering so users can replicate. Did you compare the ROI values in that plot with the one the clustering exports? The cluster plot de-normalizes the ROI when plotted.

[2022-05-26 14:35] kyletgoldberg commented on #395
yes - this is intended, check the release notes for 3.6.0 https://facebookexperimental.github.io/Robyn/docs/releases/#360

[2022-05-26 14:43] giorgossideris commented on #395
Hello @kyletgoldberg and thank you for your response! Can I find more details about this change somewhere? As, if I understand correctly, there is no reason for providing exposure media metrics in input.

[2022-05-26 20:59] berkyasin commented on #396
Hello Bernardo,
The values in the plot are same with the "roi_total" column in the pareto_aggregated.csv file. I will consider the values inside the plot rather than pareto clusters csv. Thank you very much.

[2022-05-31 22:06] jorjon88 opened #400 "Calibration"
Hello!

I have the issue that when I'm trying to calibrate the MMM with the GeoLift results I get the same error.
This is my input:
![input](https://user-images.githubusercontent.com/46603266/171291721-db5fc708-8e74-47b5-9637-17d9a06bafea.png)

And this it the error I get

![Error_Calibration](https://user-images.githubusercontent.com/46603266/171292134-39256a02-d9ba-4dc3-a174-74978c141722.jpeg)

[2022-06-01 00:22] jorjon88 commented on #400
Thank you !

It worked by changing the Date to the right year.

[2022-06-01 13:50] kyletgoldberg commented on #395
Hi,

Check the conversation here - https://www.facebook.com/groups/robynmmm/posts/1174300543338077/

We still recommend including the exposure metrics in order to identify places where variables should potentially be split into smaller variables in order to better understand these channels that may have poor correlation between spend and exposure.

[2022-06-01 15:19] Grysart opened #401 "Robyn_run() gives "column(s) not found" error"
Hi all,

Thanks a lot for starting this initiative, I'm quite fond of it and would love to apply it in the workplace.

I did get stuck while trying to do Robyn_run() and cannot seem to resolve the issue.

I do get the following output:

[code]

Pretty much it can't find each of the columns in the paid_media_spends. I doublechecked and these columns were passed on to robyn_inputs() correctly, also

[2022-06-01 16:04] kyletgoldberg commented on #394
Hi thanks for the feedback - I think plot 1 the title we currently have is accurate since we are looking at decay rates specifically with adstock, but can you elaborate on the issue with title 2? Is there a bug going on with the labels? Thank you!

[2022-06-02 01:19] Da5413lions opened #403 "Convergence question"
Hi team,

Thank you for all your work. I managed to successfully run Robyn. But I need help understanding this result from the pareto plot.

![Rplot](https://user-images.githubusercontent.com/106715239/171526416-1024ed4a-8b5d-42f6-a403-b0652f628dd7.png)

DECOMP.RSSD NOT converged: sd@qt.20 0.11 > 0.064 & med@qt.201 0.25 > 0.22
NRMSE converged: sd@qt.20 0.00031 <= 0.022 & med@qt.20| 0.093 <= 0.14

[2022-06-02 09:31] Leonelsentana commented on #384
Hi @Steven-Livingstone apologies about the delay in my response, I have been pretty busy lately. Look, context_vars are added as regressors **only when they're factors**, this way we convert factors to numeric vars for easy processing leveraging prophet. We believe that continuous numeric variables as context_vars can reflect better the variance in time than factor context_vars, therefore you may

[2022-06-02 09:56] Leonelsentana commented on #403
Hi @Da5413lions,

In Robyn, we consider the model to be converged when:

Criteria #1: Last quantile's standard deviation < first 3 quantiles' mean standard deviation

Criteria #2: Last quantile's absolute median < absolute first quantile's absolute median - 2 * first 3 quantiles' mean standard deviation

The quantiles are ordered by the iterations of the model, so if we ran 1000 iterations, the fi

[2022-06-02 09:59] Grysart commented on #401
Hi @laresbernardo!

Thanks for your fast response. Removing the spaces in column names solved the issue indeed!

[2022-06-02 09:59] #401 closed

[2022-06-02 14:02] laresbernardo commented on #394
Thanks for your feedback @josetigo I've implemented both changes: removed "decay" from the title to have "Geometric Adstock: Fixed Rate Over Time", and fixed the labels to "Initial Mean Response" and "Optimised Mean Response".

[2022-06-02 14:02] #394 closed

[2022-06-02 20:26] Steven-Livingstone commented on #384
Hi @Leonelsentana, no problem :) Honestly the support you (and the Robyn dev team) are providing is simply awesome! Thank you all so much.

Your suggestion seems to be working as intended given my testing (see the graph from above in "Example: Adding Border_Closure_Control as just a context_var") Here, `Border_Closure_Control` is unsurprisingly very negative. I think we'll go a head with this for

[2022-06-03 19:50] Da5413lions commented on #403
Thank you @Leonelsentana . Very helpful.

In criterion 2, I suppose you meant: Last quantile's absolute median < absolute first quantile's absolute median - **3** * first 3 quantiles' mean standard deviation

Is there a particular reasoning for this choice?

[2022-06-06 06:10] PetricaR opened #405 "Question related to metrics for modeling"
Hello Robyn team,

I have a question related to Robyn media metrics inputs.

Can we use **conversions** instead of impressions / clicks ?

Thank you!
Petrica

![conversions](https://user-images.githubusercontent.com/35411971/172106655-8285ca3c-7d9a-4f1d-b591-0a91727fbde0.png)

[2022-06-06 09:24] Leonelsentana commented on #403
Hi @Da5413lions, glad it helped,

Please check that is Last quantile's absolute median < absolute first quantile's absolute median **- 2** * first 3 quantiles' mean standard deviation now, we changed that, it used to be 3 before to make the rule a bit less strict, please have in mind this is just an indication proxy for convergence and the model will always run the same way no matter what the conv

[2022-06-06 16:43] kyletgoldberg commented on #405
Hello - I would not recommend using attributed conversions as an input to the model. The reason for this being that you will be using conversions to predict conversions. This will create some results that will be biased and also less actionable than when using spend as a predictor.

[2022-06-06 18:35] PetricaR commented on #405
I would like to use conversions to predict the revenue! not conversions itself.

[2022-06-06 19:05] kyletgoldberg commented on #405
It still won't really work since revenue and conversions are extremely correlated i.e. you can't have revenue without a conversion preceeding it. A conversion is a necessary condition for revenue.

[2022-06-06 20:45] PetricaR commented on #405
Ok, I understand, thank you very much!

[2022-06-06 21:43] NoufaMukhtar opened #406 "Getting an error while running robyn_run"
## Project Robyn

## Describe issue
Even after installing everything, I am getting this error -

Input data has 208 weeks in total: 2015-11-23 to 2019-11-11
Initial model is built on rolling window of 92 week: 2016-11-21 to 2018-08-20
Using geometric adstocking with 19 hyperparameters (19 to iterate + 0 fixed) on 1 core (Windows fallback)

  Running trial 1 of 5
Error in py_call_impl(callable, dot

[2022-06-07 13:40] #405 closed

[2022-06-07 13:43] kyletgoldberg commented on #406
Check this issue thread - https://github.com/facebookexperimental/Robyn/issues/211

Looks like it is typically a versioning issue, so check the last comment and make sure everything is as updated as possible. If that still does not work please let us know

[2022-06-10 05:59] ArrunAnanda opened #407 "Unable to install nevergrad on MacOS (M1 chip)"
Hello team,

I'm currently using MacOS and I'm unable to install "Nevergrad". I get this below error. Can you please help me with this?

I'm using the Option 1 way of installing nevergrad via PIP

----

   ERROR: Command errored out with exit status 1:
     command: /Users/arunananda/.virtualenvs/r-reticulate/bin/python /Users/arunananda/.virtualenvs/r-reticulate/lib/python3.8/site-packages/pip/_v

[2022-06-10 08:57] ArrunAnanda commented on #407
<img width="1563" alt="image" src="https://user-images.githubusercontent.com/59400103/173030012-07e6e449-91eb-408d-8687-54e401e16662.png">

[2022-06-12 15:52] #395 closed

[2022-06-13 15:52] kyletgoldberg commented on #376
Hi - were you able to resolve this issue?

[2022-06-13 15:52] #374 closed

[2022-06-13 15:52] kyletgoldberg commented on #406
@NoufaMukhtar were you able to get this working?

[2022-06-14 20:44] NoufaMukhtar commented on #360
I followed this thread and tried all fixed for Decomp.rssd to converge but no luck and I am using the latest version and below is my convergence status. Should I proceed without this converging and how can I interpret it?

DECOMP.RSSD NOT converged: sd@qt.20 0.21 > 0.15 & |med@qt.20| 0.4 > 0.096
- NRMSE converged: sd@qt.20 0.0023 <= 0.0027 & |med@qt.20| 0.087 <= 0.092

[2022-06-15 13:51] ArrunAnanda commented on #407
Hi,

I managed to make it work.

In short -

1. What I noticed was Python wasn't installed even though it shows up in the virtualenvs file.
2. Then I installed miniconda as suggested in the documentation and it worked.

I'm attaching the screenshots for further reference.

Thanks!

<img width="1440" alt="3" src="https://user-images.githubusercontent.com/59400103/173843911-90960573-e851-47fa-bbb2-3

[2022-06-15 13:51] ArrunAnanda commented on #407
<img width="1440" alt="1" src="https://user-images.githubusercontent.com/59400103/173844140-7eef8640-d4c5-496e-a009-1d023c5686f5.png">

[2022-06-17 13:28] txgaritano opened #410 "Error plotting summary charts"
Each time I try to run Robyn I get the following error message:
"

Warning in png_dev(..., res = dpi, units = "in") :
  cairo error 'invalid value (typically too big) for the size of the input (surface, pattern, etc.)'
Error in png_dev(..., res = dpi, units = "in") :
  unable to start device 'png'
"

I am using Robyn version 3.4.12 in a 10 CPU & 30GB machine.

[2022-06-20 07:49] anuragvimal opened #412 "Robyn model summary"
Hi Team,

I am working on 40 media variables for an MMM exercise. I want to have a look at feature importance and model summary as an output with a corresponding p-value. This can help me in discarding features that are insignificant. Is this possible in Robyn?

If not, then generally what are the best principles adopted for feature selection in Robyn? Thanks in advance.

[2022-06-20 07:55] anuragvimal opened #413 "Control variables in Robyn"
Hi Team,

In MMMs, we often control for independent variables by holding them constant or limited in a research study. For example: Temperature, GDP, Life expectancy etc. Do we have a mechanism that allows us to control for explanatory features so that their contribution can vary within in a certain limit?

Thanks for your help.

[2022-06-21 06:28] anuragvimal commented on #412
@kyletgoldberg Can you please help? Thanks.

[2022-06-21 06:28] anuragvimal commented on #413
@kyletgoldberg Can you please help? Thanks.

[2022-06-21 09:52] roh-neenopal opened #414 "Assign more weight to recent months data"
## Project Robyn

## Describe issue
In my dataset, I have few channels in which the spend-allocation has been done recently. All other channels have 2+ years of data whereas the new channels only have 4-5months of data. While running Robyn, the output shows zero importance to the new channels. So, if there a workaround in which we can assign more weightage/importance to recent months in data?

[2022-06-21 12:37] kyletgoldberg commented on #410
Could you please update your version of Robyn, that is a bit old version. If it still doesn't work please let me know

[2022-06-21 12:44] kyletgoldberg commented on #413
I'm not sure I fully understand the use case here. Could you elaborate on what your goal is with this? In my mind, the natural variation of these variables is important to understand how they contribute, so we wouldn't really want to hold them constant. I may be misunderstanding though.

[2022-06-21 12:47] kyletgoldberg commented on #414
Good question - there is a way to do this for the budget allocator, but not in the modeling phase. If the channels only represent a small portion of the spend, then it will be difficult for the new channels to receive credit. In terms of how to make sure they appear in the model, calibrating with lift is always a great option. Additionally, exploring recency splits for your older channels may also

[2022-06-21 14:05] laresbernardo commented on #414
If you are modeling with daily data, maybe you could also test narrowing the modeling window to the latest 5-6 months, or wait a couple of months to have enough data.

[2022-06-21 14:09] roh-neenopal commented on #414
The data is at a weekly level. Will it make sense just to include the latest 5-6months of data? Since Prophet is also being used, will it be able to understand the seasonality/trend in the data?

[2022-06-21 14:20] laresbernardo commented on #414
We run prophet on the whole data, not only in the modeling window though.

[2022-06-21 15:12] roh-neenopal commented on #414
So let's say I have 5years of data and I want Prophet to run on the entire 5 years of data, but the other models/algorithms used in Robyn which produce the optimized spend for channels should focus more on the recent 2years. Is there a way in which we achieve this?

[2022-06-21 16:40] laresbernardo commented on #414
By default, if prophet is enabled it will use all the data provided to decompose trends and seasonalities. If you want to use a specific date range to train the models, then you can use the `window_start` and `window_end` parameters when you create your input object with `robyn_inputs()`. Then, you can also pick the window within the modeled window on `robyn_allocator()` to pick another specific d

[2022-06-21 16:58] laresbernardo commented on #414
You must have an outdated version of Robyn. Please update to the latest version and retry. You're doing it right.

[2022-06-23 10:03] desilollo opened #416 "test on different data and context vars transformation"
Hi,
I've built an MMM model with Robyn and saved one of the best model. Now I'd like to use the same model previously saved on a slightly different dataset (same date range) and get the one-page plots output as well as the csv files. How I could do it?
Furthermore, when transforming the context vars, should it be transformed prior to the glm regression or while performing the regression?
Thanks in

[2022-06-23 16:35] Leonelsentana commented on #416
Hi, would you clarify what you mean by a "slightly different data set for the same date range?" What would be the rationale of using a model trained on certain data and use it in the same date range again with almost the same data? The refresh function is useful for example for re-running selected models on top of new data, however I dont quite understand why would you do what you suggested if I u

[2022-06-24 08:50] Anil-Pothala opened #418 "Error in check_datevar(dt_input, date_var): Date variable has duplicated dates. please clean data first [Panel data]"
I have been exploring the Robyn algorithm to do Market Mix Modeling on my dataset. The dataset is monthly level data of the promotional activity for each customer. In this case the data looks like this-

|Id         |Date    |Revenue|Channels…|
|-----------|--------|-------|---------|
|Customer 1 |Jan-2021|       |         |
|   …..     |        |       |         |
|Customer 1 |Dec-2021|       |

[2022-06-24 09:04] desilollo commented on #416
Thanks for the clarification, do you have any resources or papers where I can find some more information about the pre-transformation of variables such as distribution, promotion and price?

[2022-06-24 09:31] Leonelsentana commented on #416
Hi, please refer to the code directly, we do not transform context_vars via prophet unless they are factors, so that we can convert them into numeric:
https://github.com/facebookexperimental/Robyn/blob/9358e455fd79a7e60219b131dbab05f42b0f0721/R/R/inputs.R#L703
For the rest, we just use them as inputs directly into the code. What would be your use case here? I am struggling to understand what would

[2022-06-24 10:11] #416 closed

[2022-06-24 10:36] #403 closed

[2022-06-24 10:38] Leonelsentana commented on #384
Hi @Steven-Livingstone apologies for the delay again, we are adding those columns but we are not using them at any point in the prophet fit, prophet will just take ds and y from the dataframe, so no context_vars. Apologies for the confusion!

[2022-06-24 10:38] #384 closed

[2022-06-24 14:09] laresbernardo commented on #418
Hi @Anil-Pothala

I see you've shared this question as an issue here, but also in a [discussion ticket](https://github.com/facebookexperimental/Robyn/discussions/417), a [FB post](https://www.facebook.com/groups/robynmmm/posts/1219941125440685/), and you emailed me directly. Please, let's just create a single ticket and we'll do our best to help you.

The reason you can't set more than one date pe

[2022-06-27 16:23] Tsurty opened #419 "Refresh Error - number of observations in y (310) not equal to the number of rows of x (0)"
## Project Robyn

## Describe issue
I have 3 similar models built with Robyn that I wanted to refresh.
While 2 of them worked without any issue this one model returns me this error.

I've checked the dataset and columns are all there as well as values.
I feel like it may be an easy to solve issue but I can't figure out the problem.

[code]

## Provide dummy data & model configuration

## Environme

[2022-06-28 19:26] laresbernardo commented on #419
Hi @Tsurty Can you share a reproducible example that replicates this error to help us debug?

[2022-06-29 06:03] Tsurty commented on #419
Sure, just sent it through the Google Form.
One note I figured out after sending it is: I uploaded the wrong code example but you basically have it up here so you should be good to go.

[2022-06-29 13:49] laresbernardo commented on #419
Thanks. I was able to reproduce the error with your RDS file. Will get back to you. Any hint you'd like to share?

[2022-06-29 14:14] Tsurty commented on #419
Not really honestly. I have two other similar models created (same client, similar columns and dataset, slightly different data).
Same process but those worked fine in refreshing, this one keeps returning this error.

If you think that can be useful I can share with you those as well.

[2022-06-29 15:09] laresbernardo commented on #419
I found the bug and will upload the fix in a few minutes.

[2022-06-29 15:26] laresbernardo commented on #419
Hi @Tsurty I've [fixed](https://github.com/facebookexperimental/Robyn/commit/4214c05d14818ad69cf9818b98cd7a717d77f73f#diff-f9c06ec6b4d558eff474def92bcce63ebea95827786670898e40132b5751ffe4R565-R569) this issue. The problem was that when no categorical columns were provided, `model.matrix` returned no data at all instead of ignoring the input and returning the same input as output.

Even though this

[2022-06-29 15:49] Tsurty commented on #419
Hello @laresbernardo thanks for the quick fix and explaination.
Will test this out tomorrow as I'm running other models atm.

[2022-06-30 08:55] Sibusiso1995 opened #421 "I can't install robyn_inputs package"
I'm in need of assistance with installing robyn_inputs packages. I tried updating my R and I still got the same version of R even if I downgrade.

The R version I'm using is 4.2.0
The Robyn version I'm using is 3.6.4

<img width="609" alt="Screenshot 2022-06-30 at 10 55 17" src="https://user-images.githubusercontent.com/54172627/176636146-55ae27f0-ee2c-467b-a579-aebcb0f7a02d.png">

[2022-06-30 13:47] laresbernardo commented on #421
Hi @Sibusiso1995
`robyn_inputs()` is a function of the `Robyn` package. You just have to install `Robyn` to be able to use all its functions. Please, follow the steps in the [demo](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R) or the q[uick start](https://facebookexperimental.github.io/Robyn/docs/quick-start/) guide. I also strongly recommend learning the al least the basics

[2022-06-30 14:15] Sibusiso1995 commented on #421
Is there any way I can get the link to check out the basics? Cause I have watched the quick start guide before and used the demo so I wanna try a different approach. The warning message is there any way I could solve it

[2022-06-30 14:33] kyletgoldberg commented on #421
@Sibusiso1995 The best approach to getting to know the package after familiarizing yourself with the demo is typically going through the demo but substituting in your own data. This will help you understand better the ins and outs since you are most familiar with your own data. Aside from that, the website is going to be the best resource to explain technical concepts, etc. Hope this helps

[2022-07-05 10:50] Harshitha-HM1999 opened #423 "To access the one-pager plots to r-console"
## Project Robyn
Hi team, thanks for this wonderful package.

## Describe issues
I am doing case study on Robyn and I wanted to access the model plots in r console to keep them in a markdown, Is there any options to access them out of folder.
Can you help me in this issue.

Thanks in advance,

[2022-07-05 14:51] kyletgoldberg commented on #423
Check the robyn_onepagers function :)

[2022-07-06 05:56] Harshitha-HM1999 commented on #423
Thanks for the reply, I will check.

[2022-07-07 01:20] arturodz commented on #410
I am having the same issue in version 3.6.3 when running robyn outputs

[2022-07-07 13:18] kyletgoldberg commented on #410
@arturodz could you follow this SO thread and see if the solutions there will solve this issue? https://stackoverflow.com/questions/45113597/error-unable-to-start-png-device

[2022-07-08 07:58] NickCH-K opened #424 "Unable to run demo code"
## Project Robyn

## Describe issue
I have been running the [demo code](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R) with no changes, and have been running into an error when I get to the `robyn_run()` call on line 279.

Here is the error/traceback:

[code]

which appears to be referring to line 434 of [model.R](https://github.com/facebookexperimental/Robyn/blob/main/R/R/mo

[2022-07-11 07:58] Harshitha-HM1999 commented on #423
Hi, we actually tried one-pagers plotting in R to get the plots in console and below is the screenshot.
![image](https://user-images.githubusercontent.com/85454282/178215393-5d2c5ecc-6cc7-4473-8958-c975496f8476.png)

In above screenshot we get the 6 optimum models in the folder but however in for console it is plotting all models.
How can we get the plots of optimum models.

Thanks in advance.

[2022-07-11 14:01] laresbernardo commented on #423
You can set the `select_model` parameter and will only generate only the plots for the models you pick.

Also, if you assign the output to an object (say `my_plots <- robyn_onepagers(...)`), then you'll have a list with all plots as objects.

[2022-07-11 15:30] #406 closed

[2022-07-11 15:32] #412 closed

[2022-07-11 19:48] NickCH-K commented on #424
That fixes it! Sorry about that. I'd assumed that since I'd just installed **nevergrad** that it would be the most updated version. But I guess `reticulate::py_install()` defaults to a few versions back for some reason.

[2022-07-11 19:48] #424 closed

[2022-07-12 13:36] anuragvimal commented on #413
@kyletgoldberg Quite often you see a variable taking a significantly higher contribution that usual, like weather conditions which may not explain the impact of media variables correctly. In Robyn we can set the sign of each media variable to be positive or negative. If it's positive, the impact ranges from 0 to infinity. Can I restrict that between say 0 to 30? Is there a way to tweak that in our

[2022-07-12 14:53] kyletgoldberg commented on #413
@anuragvimal no worries - that isn't currently a possibility because we feel it may introduce too much bias in the model to set values in that manner. is there a reason you feel that these contextual vars are taking up too much of the contribution?

[2022-07-12 15:32] laresbernardo commented on #423
Hi @Harshitha-HM1999

Once you run `robyn_onepagers()` and create that object (`my_plots` in your case), you'll get a list that contains all solID you picked, and each solID will internally have the 6 plots that are contained in the one-pager individually, which can be plotted in RStudio, exported, manually edited, etc. This should be enough to use each plot and post in in your markdown report.

V

[2022-07-12 16:07] Harshitha-HM1999 commented on #423
Thanks for the detailed explanation @laresbernardo, I will check and correct all these stuff.

[2022-07-12 16:50] anuragvimal commented on #413
@kyletgoldberg Thanks for your response. Let me try to explain this. In one of our MMMs, weather (temperature) was explaining 60% of the sales. As correlation necessarily doesn't imply causation, we want to restrict the contribution of such variables. It's something that we want to control on. I hope I am able to sound better with this explanation. Please feel free to provide your thoughts as I am

[2022-07-13 02:16] Joshuacourse commented on #282
Hi Robyn developer,

if we only have conversion daily data for 3 years and that data is sparse since conversions didn’t happen every day, only one of the media channels was active over the entire 3 yr period while adv on other media started mid-way in the last 3 yr period. (1) Would a daily data model based on 18 months work?
(2) Would only Prophet vars be calculated based on 3 yrs or would adstoc

[2022-07-13 08:40] roh-neenopal opened #427 "rsq_train is low and in some iterations of output is negative"
## Project Robyn

## Describe issue
rsq_train is negative or has values like 0.13 or 0.32. How should we interpet when rsq is so low?

## Provide dummy data & model configuration

## Environment & Robyn version
R version (R --version)
Please make sure you're using the latest Robyn version

[2022-07-13 15:28] laresbernardo commented on #427
rsq_train can have a negative value when the selected model does not follow the trend of the data, therefore leading to a worse fit than the horizontal line. And very low rsq_train values mean that it wasn't possible to create a good fit for the time series. Check your data granularity, randomness, hyperparameters constraints, etc.

[2022-07-13 15:39] laresbernardo commented on #427
How many iterations and trials? Is it converging? Do you have enough variance in your time series? Try adding more context variables to help the model understand what's happening with your data.

[2022-07-13 16:05] roh-neenopal commented on #427
2000 iterations ; 5 trails - mean of the revenue column is 9M ; SD is 2.4M. I have visits/ promo as organic_vars too. There are around 20 sales channels.
![image](https://user-images.githubusercontent.com/90190987/178779908-a84d4cdd-97f6-4c55-9a72-7b9a3316ef1e.png)

[2022-07-14 07:06] Harshitha-HM1999 commented on #423
Hi @laresbernardo
I can able to get the plots in .png form same as the plots in one-pager folder but they are not same.
![image](https://user-images.githubusercontent.com/85454282/178919529-f50d1ba1-5993-454c-9c74-f40a3f52c370.png)
![image](https://user-images.githubusercontent.com/85454282/178919646-269106b7-5a3e-40d9-95da-27c0839faadb.png)

1. The first screenshot is the plot which we get in fol

[2022-07-14 08:24] Tsurty opened #428 "Refresh picks a Best Model that is not Plotted"
## Project Robyn

## Describe issue
<img width="1085" alt="image" src="https://user-images.githubusercontent.com/43139944/178936479-31df11c1-48a1-4198-96aa-8766b4cd4c4e.png">

 As shown above, after a model refresh with the following code
[code]
I got that model 3_249_1 was picked as the best but that was not plotted in the folder
<img width="900" alt="image" src="https://user-images.githubusercon

[2022-07-16 17:01] Harshitha-HM1999 opened #429 "Dynamic hyperparameter setting"
Hi Robyn team, we are actually developing a shiny tool on robyn package for our academic research purpose. We wanted to understand MMM dynamics and budget allocation and for this we are using Robyn package. When we used robyn code its giving us good results, but our need is to build a shiny app for this, so to have more dynamic approach and UI/UX functionality. So we are trying to give user to pic

[2022-07-17 15:42] saukang opened #430 "Problem encountered executing the Robyn_refresh() function"
Greetings Robyn team,

I have this problem while trying to run the Robyn_refresh function as I have passed new data inputs (monthly data) into the refresh function but I got the following message:

Input data has 48 months in total: 2018-01-01 to 2021-12-01
Refresh model is built on rolling window of 42 month: 2018-02-01 to 2021-07-02
Rolling window moving forward: 1 month
Using weibull_pdf adstoc

[2022-07-18 10:29] #421 closed

[2022-07-18 10:59] Sibusiso1995 opened #431 "Error in colMeans(x, na.rm = TRUE) : 'x' must be numeric"
Hi there, I've been experiencing this issue even though I change my data types to numeric when I view the dataset again it still shows <dbl> and doesn't change to numeric.
<img width="773" alt="Screenshot 2022-07-18 at 12 58 50" src="https://user-images.githubusercontent.com/54172627/179497577-25224228-623a-4121-8286-1dbc3d8e4bd8.png">

[2022-07-18 15:00] kyletgoldberg commented on #429
can you share the code you're using to do this now?

[2022-07-18 15:49] kyletgoldberg commented on #431
i don't think so, but could you try saving as CSV and uploading that way?

[2022-07-18 15:52] Sibusiso1995 commented on #431
I've tried that and encountered the same problem

[2022-07-18 16:07] Sibusiso1995 commented on #431
I do for one column that contains 0 only

[2022-07-18 16:08] kyletgoldberg commented on #431
can you remove that column if it's only 0s?

[2022-07-18 16:19] Sibusiso1995 commented on #431
Still nothing

[2022-07-18 16:21] kyletgoldberg commented on #431
okay would you mind sending me the data file and your code so i can debug on my end? kylegoldberg@fb.com

[2022-07-18 20:34] Sibusiso1995 commented on #431
Let me try again from the top till the point of building the initial model

[2022-07-19 06:40] firatfrkn commented on #418
I am facing with the same problem, but in my case I have a datetime which is unique for the customer. The datetime column is like this. Time interval for each date. When I check for duplicates, it is 0, but I am getting this error. Could you please help on this issue.
![Screenshot 2022-07-19 092354](https://user-images.githubusercontent.com/96492785/179682650-512dd69a-ac1d-4149-ab6e-9ae82e73f0a3.p

[2022-07-19 18:36] DYX10 opened #432 "Error: Error installing package(s): "'nevergrad'" / MacBook Air (M1, 2020)"
## Project Robyn

## Describe issue
Describe your issue and provide error message

I'm using the [demo.R](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R) script
But can't install the package "nevergrad".
Error message below:

I assume pip version has already been upgraded to the 22.1.2  as shown below:

![image](https://user-images.githubusercontent.com/109622970/179824059-cd3

[2022-07-20 09:31] Harshitha-HM1999 commented on #429
Hi @kyletgoldberg, thanks for the reply.
After appending varaibles with  ( _Alpha,_Gamma,_Theta) and range values, I used the following code for a1 and b

``a1 <- c("DOB_Alpha=c(0.5,3)","DOB_Gamma=c(0.5,3)","DOB_Theta=c(0.5,3)","Age_Alpha=c(0.5,3)")``

``b <- list(DOB_Alpha=c(0.5,3),DOB_Gamma=c(0.5,3))``

[2022-07-20 15:00] laresbernardo commented on #423
There are 2 ways you can get easily fetch each individual plot:

- Based on demo.R file, when you have an exported model, you can:
[code]
- With the `robyn_onepagers()` function, it's a similar approach. You can:
[code]

[2022-07-20 19:20] Harshitha-HM1999 commented on #423
thank you @laresbernardo

[2022-07-21 05:27] Harshitha-HM1999 commented on #423
Hi Bernardo,

for dynamic model selection, we may need to store model selection from user in a variable. But when I am trying from that I am getting error. Below is the code which I am trying -

a <- "2_233_4"

temp2 <- robyn_onepagers(InputCollect,
                OutputCollect,
                export=FALSE,
                select_model = a)

temp2$a$patches$plots[[1]]
NULL

Is there any way to g

[2022-07-21 08:41] gedkitchener-CT opened #434 "Error in { : task 14 failed - "unable to start png() device""
## Project Robyn

## Describe issue
Ran model with 5 trials - fine.

Ran again with 10 trials - I get the following error message:

[code]

Extremely frustrating as this was training for 5+ hours and seemed to be fine - but as a result of a plotting error, the whole model gets discarded! To use an earlier analogy, this feels like baking a beautiful cake, but because my camera can't fit the whole c

[2022-07-21 12:46] guillemsala commented on #306
Hi!

I am having the exact same problem, and it seems to come from this 42 colour palette you're talking about -- my input dataset contains > 50 different channels. Here's the exact code just in case, again I'm trying to refresh a model.

[code]
And I also wanted to ask -- is it possible that Robyn is not meant to be used with this many channels?

[2022-07-21 14:29] kyletgoldberg commented on #432
i believe this user had a similar problem - can you try following their process? https://github.com/facebookexperimental/Robyn/issues/407

[2022-07-21 15:38] laresbernardo commented on #423
This is purely R related, so I think this ticket is solved. Please, fell free to close it if that's correct.

You can do: `temp2[[a]]$patches$plots[[1]]`

[2022-07-21 15:45] Harshitha-HM1999 commented on #423
Yes, thanks @laresbernardo

[2022-07-21 15:46] #423 closed

[2022-07-21 15:47] laresbernardo commented on #434
Hi @gedkitchener-CT
I'm really sorry to hear that! We did split `robyn_run(..., export = FALSE)` and `robyn_export()` to avoid these potential issues, so you train the models and then process/export the results in 2 separate steps.
We've seen this is potentially caused for use cases with a lot of media variables. How many variables are you modeling with?
On the other hand, I think you have an outd

[2022-07-21 15:57] laresbernardo commented on #306
Hi @guillemsala
I've enabled 56 colours in the refresh plot palettes. Can you please update the dev version and check again? Are you sure 56 media variables makes sense? Maybe you could re-group some of them if they are too small / similar? Maybe it'd make sense to test this approach.

[2022-07-21 16:25] gedkitchener-CT commented on #434
Thanks for such a speedy response.

I've got about 30 features and 1,000-ish rows (daily) - in your experience, did that amount of features (30+) sometimes cause this issue in the past?

To be honest, I do have an out-dated version - I'll try switching to the latest (dev) version and run again.

Thanks again for the advice.

[2022-07-21 16:27] sab26699 opened #435 "Error in check_run_inputs: Must provide 'iterations' in robyn_run()"
## Project Robyn

## Describe issue
Shiny app shuts down after the 'Initiate ROBYN Model' step, provides the error in the subject:
Warning: Error in check_run_inputs: Must provide 'iterations' in robyn_run()

## Provide dummy data & model configuration
Using the data set provided
[holidays.csv](https://github.com/facebookexperime
[de_simulated_data.csv](https://github.com/facebookexperimental/Roby

[2022-07-21 16:42] laresbernardo commented on #434
We encourage a ~1:10 relation between columns and rows minimum as a rule of thumb. Let me know how it goes with an updated version.

[2022-07-21 16:45] laresbernardo commented on #435
Hi @sab26699
This is an old version of the UI that used an older version of Robyn. We are currently working on an educational and interactive UI (shiny app) that is quite similar to that one, built from the ground up. We will share it in the following days!
CC: @kyletgoldberg

[2022-07-22 12:38] Harshitha-HM1999 commented on #435
Hi, @laresbernardo and @sab26699

I am also creating shiny app on robyn for my research purpose. I stuck in accessing InputCollect. following is the code I tried  ui and server part for InputCollect.

ui

``
tabPanel("Modelling",
                          sidebarLayout(
                            sidebarPanel(dateRangeInput("date","Date range"),
                                         selectInpu

[2022-07-22 14:09] kyletgoldberg commented on #435
@sab26699 try using the dev version in the branch kg_pkg_test and see if that solves your problem.

[2022-07-22 14:09] kyletgoldberg commented on #435
@Harshitha-HM1999 could you please create a reproducible example?

[2022-07-22 19:36] Harshitha-HM1999 commented on #435
Hi @kyletgoldberg

Following is the code

[code]

[2022-07-25 13:14] kyletgoldberg commented on #435
@Harshitha-HM1999 can you share more about the error you are experiencing? for what it's worth, we do have a shiny app that runs the whole Robyn process coming out very soon.

[2022-07-25 15:26] Harshitha-HM1999 commented on #435
Hi @kyletgoldberg,

Nice to here this, great work.

As given above, inside the renderUI function I have taken the robyn_input, in that it is not accessing the dynamic variables (for e.g. paid_media_var, paid_media_spends).

The error I am getting as in the following screenshot

![image](https://user-images.githubusercontent.com/85454282/180815806-52c83b37-601f-4337-b98a-ccf64aa6c7b2.png)

I am not

[2022-07-25 15:33] kyletgoldberg commented on #435
I'm getting an error on the first tab trying to load a CSV, i can't get to the error you are referencing.

[2022-07-25 15:55] Harshitha-HM1999 commented on #435
Thanks for the reply @kyletgoldberg

[code]

For the above code I am getting this

![image](https://user-images.githubusercontent.com/85454282/180821075-f647225f-e33e-468a-9d28-c2040c9b0f01.png)

Please let me know if any other details required.

Thanks.

[2022-07-25 17:28] kyletgoldberg commented on #435
i still get this error whenever i upload the sample data
![image](https://user-images.githubusercontent.com/84025306/180838280-1785a9eb-9d0c-42f0-9281-6ed4f0c57078.png)

[2022-07-25 17:45] Cyrinehl opened #436 "Regularization parameter & intercept"
## Project Robyn

## Describe issue
Hello,
I have multiples questions about Robyn:
1- The first one concerns the regularization parameter. Is it possible to manually set the hyperparameter ? from my understanding, the lambda_control is no longer usable. Is that correct ? If so, is there another hyperparameter that we can use to control the regularization ourselves?

2-The second question is about

[2022-07-25 18:13] Harshitha-HM1999 commented on #435
Can you please try the below code?

[code]

[2022-07-25 18:25] kyletgoldberg commented on #435
ah - its because your date_var selection is dt_input$Date, it should just be 'DATE'. their are a few issues like this where we are looking for the column name, not the entire column of data.

i would check this tutorial for debugging shiny apps as it will be very helpful in finding these bugs. https://shiny.rstudio.com/articles/debugging.html

[2022-07-25 18:33] Harshitha-HM1999 commented on #435
Ok, Thanks @kyletgoldberg, I will check that.

[2022-07-25 18:57] Harshitha-HM1999 commented on #435
Hi @kyletgoldberg,
If I change the date_var to 'DATE', I am getting error as `` Error: 'DATE' not found``
and I am not able to access other variables also.

[2022-07-26 13:12] laresbernardo commented on #428
Hi @Tsurty I've fixed this issue in branch [test_p_robyn1234](https://github.com/facebookexperimental/Robyn/compare/test_p_robyn1234), but we haven't landed yet as there are big changes coming up and we are still testing all of them. Feel free to use that branch if it's urgent but you should expect we land this fix soon into main branch.

[2022-07-26 13:15] Tsurty commented on #428
Hello @laresbernardo thanks for info, you can close it in the meantime as in the end we just picked the model we needed out of the CSV and put it in our custom dashboards. Looking forward to the big changes then!

[2022-07-26 14:53] kyletgoldberg commented on #435
hi @Harshitha-HM1999 i would keep looking to that debugging guide to work through this issue. it's a bit beyond the scope of what we are able to help with in this repo's issues since it's more of a shiny debugging issue than a robyn issue.

[2022-07-26 15:38] sab26699 commented on #435
I got the same error when using this version.  A few times in this thread someone has referenced a new version of codeless Robyn coming out - when will I know when that's ready to try?

[2022-07-26 15:54] kyletgoldberg commented on #435
@sab26699 it should be available in the coming weeks

[2022-07-26 16:48] roh-neenopal opened #437 "Initial vs Optimized Graphs Mis-match"
## Project Robyn

## Describe issue
I have run an MMM model with 10 channels. The initial vs optimized budget shows that for a channel we should increase the budget whereas - the initial vs final mean response shows that the mean response for that channel would decrease.  Why should one increase the budget for a particular channel if the response is less than the initial response

## Provide dummy

[2022-07-26 16:56] laresbernardo commented on #436
Hi @Cyrinehl

1. That's correct, we don't have `lambda_control` parameter enabled since v3.6.0, given it's a hyperparameter. This decision was made to minimize bias in lambda selection by picking the values that minimize the 2-3 errors we are optimizing towards. You could fix a values by setting them as values instead of ranges using the `dt_hyper_fixed` parameter. On the other hand, there is an e

[2022-07-26 17:04] laresbernardo commented on #437
Hi @roh-neenopal
Can you please update Robyn to the latest version (stable or dev)? It may be part of a known issue that was already fixed in the latest versions. Please let us know if this issue persists.

[2022-07-26 17:42] roh-neenopal commented on #437
This is the version on which the model was executed
![image](https://user-images.githubusercontent.com/90190987/181074882-4b010680-e3d6-438a-9afd-39a194069ef4.png)

[2022-07-26 17:47] laresbernardo commented on #437
Can you try installing the dev version and re-running? It seems weird because we changed those plots theme (white background and less intense blues) in recent versions. Please, update, re-run from scratch, and retry to see if the problem continues. Thanks!

[2022-07-26 19:40] roh-neenopal commented on #437
Yes, installing again and re-running from scratch resolved the issue. Thanks!

[2022-07-26 19:40] #437 closed

[2022-07-27 07:28] rohan1997vk opened #440 "Extracting output in a data-frame"
## Project Robyn

## Describe issue
Is there a way in which we can extract 9 different data frames from the charts.
Response Decomp
Share of Spend v/s Share of effect with roi
Adstock
Actual vs Predicited
Response Curve and Mean Spend by Channel
Fitted vs Residual
Initial vs optimized Busget
Initial vs Optimized mean Response
Response Curve and Mean Spend by Channel
## Provide dummy data & model c

[2022-07-27 10:56] gedkitchener-CT commented on #434
I'm now using R 4.2.1 and Robyn 3.6.3

Using 100 iterations x 5 trials worked fine, both in terms of training the models and producing the output CSVs and plots.

I increased to 2000 iterations x 5 trials, and while `robyn_run(...)` worked fine, it's the `OutputCollect <- robyn_outputs(...)` part that's now returning a new error:

[code]

I should mention that the output CSVs look to be present, b

[2022-07-27 11:16] roh-neenopal opened #442 "Actual inital budget or a channel mis-matches with the output"
## Project Robyn

## Describe issue
I have recently switched to the new version of Robyn and the graph 'Initial vs Optimized Budget Allocator' shows incorrect original budget for channels.

Channel -1
Actual Original Spend: 5.95%
Initial Budget Allocated( Graph Output): 24.6%

Channel-2
Actual Original Spend: 0.72%
Initial Budget Allocated( Graph Output): 4.0%

Channel-3
Actual Original Spend: 58.

[2022-07-27 12:29] Harshitha-HM1999 commented on #435
Hi @kyletgoldberg ``input$var`` is working outside the robyn_input function. I am getting bug in robyn_input function in server.

[2022-07-27 12:56] saukang commented on #430
Hey team,

It appears to be R not "recognizing" my robyn_object previously, thus resulting the `Error: argument of length 0`. The problem has been resolved after I re-run the model, using the pre-saved 'robyn_object'. Cheers.

Best regards,
Sau Kang.

[2022-07-27 12:56] #430 closed

[2022-07-27 15:49] laresbernardo commented on #440
Yes! When you run `this <- robyn_onepagers(...)`, you'll get a list with all the plots. Each plot is a ggplot object and you'll have the data within.

[2022-07-27 16:05] rohan1997vk commented on #440
![image](https://user-images.githubusercontent.com/22797824/181295253-015025d1-abfe-4f8b-bd79-8e174b995e9f.png)

So this function is asking for the above mentioned parameters

What should be InputCollect and OutputCollect values ?

[2022-07-27 16:27] robhannon opened #445 "GeoLift package recognition issue"
## Project Robyn/GeoLift

## Describe issue
When trying to install the geolift package for as a docker image the docker build completes but when trying to actually run the container and call my API geolift is not recognized. This isn’t happening for other packages downloaded with remotes/devtools. Any ideas why?

## Environment & Robyn version
Latest Robyn version

[2022-07-27 16:41] rohan1997vk commented on #440
Amazing!

this[["model_number"]][1] - this gives us the Actual vs Predicted Graph Data

Which parameters to use to get the data from the list for other graphs?

[2022-07-27 16:42] rohan1997vk commented on #440
![image](https://user-images.githubusercontent.com/22797824/181302876-b9437f7b-33d4-4c14-b941-20587f01e2b3.png)

This is know I have executed the above list

[2022-07-27 16:56] rohan1997vk commented on #440
[code]

Figured out the answer to the above question. Leaving this for other's reference. Thanks a lot!!!!!

[2022-07-27 17:18] laresbernardo commented on #440
Yes, that's how you do it! Feel free to close this ticket if your Q has been solved ;)

[2022-07-27 17:25] #440 closed

[2022-07-27 23:21] qiongji75 opened #446 "How do we treat the unattributed traffic or the organic traffic in the raw data which doesn't have any associated marketing channels?"
## Project Robyn

## Describe issue
Describe your issue and provide error message

## Provide dummy data & model configuration
Issues are often related to custom input data that is difficult to debug without. If necessary, please modify your data to mask real values and share a dataset that is able to reproduce the issue. Please also share your model configuration.

## Environment & Robyn version

[2022-07-28 13:54] Tsurty commented on #432
Been there as well and finally ended up fixing it.
All steps and tests done are in this closed thread here, hope it helps.

https://github.com/facebookexperimental/Robyn/issues/189

[2022-07-29 01:48] rio-0217 opened #447 "Error in { : task 1 failed - "invalid 'times' argument""
## Project Robyn

## Describe issue
I tried `robyn_run`  in the setting below;
`OutputModels <- robyn_run(
  InputCollect = InputCollect,
  iterations = 2000,
  trials = 5,
  outputs = FALSE
)`

But I just received the error;
`Error in { : task 1 failed - "invalid 'times' argument"
Timing stopped at: 0.143 0.047 0.212`

So please let me know how to solve it...
## Provide dummy data & model configu

[2022-07-29 02:16] rio-0217 commented on #447
The above issue was solved.
I put only one channel data. Maybe it was the reason of this error.
Let me close this issue.

[2022-07-29 02:16] #447 closed

[2022-07-29 09:54] nie-moviestarplanet opened #448 "check_datevar(dt_input) error in 3.7.0"
## Project Robyn

## Describe issue
When upgrading to version 3.7.0 I get the following error:
[code]
I've been using the same dataset in 3.6.3 and below and it works perfectly fine.

## Environment & Robyn version
R version 3.7.0

[2022-07-29 13:31] laresbernardo commented on #448
Hi @nie-moviestarplanet
Is this happening for your own data or the demo? Can you please check your "DATE" class? What format is it in? Can't debug without a reproducible example. Thanks for sharing.

[2022-07-29 14:08] nie-moviestarplanet commented on #448
Found the issue. The data was not ordered by date. After applying ascending order it now works. I guess this was not a requirement for previous versions?

[2022-07-29 14:42] laresbernardo commented on #448
We haven't added new checks on that `check_datevar()` really. And we do [sort](https://github.com/facebookexperimental/Robyn/blob/main/R/R/checks.R#L82) the dates in ascending order before we check that. So I'm not sure why or how you got that error. If you'd like to give me a reproducible example ideal, if everything's OK, feel free to close this ticket. Cheers!

[2022-07-29 14:45] laresbernardo commented on #445
Hi! It seems like a docker and GeoLift concern here. Feel free to share how you built your docker and to ask in [GeoLift's repository](https://github.com/facebookincubator/GeoLift).

[2022-07-29 16:37] nie-moviestarplanet commented on #448
I have attached the dataset that I'm using.

This is the code to reproduce the error:

[code]

[robyn_test.csv](https://github.com/facebookexperimental/Robyn/files/9221669/robyn_test.csv)

[2022-07-29 16:50] laresbernardo commented on #448
Thanks a lot for your reproducible example @nie-moviestarplanet that did the trick!
It's been fixed now. No need to manually sort the dates before passing the data.frame to `robyn_inputs()`
Feel free to test and close this ticket.

[2022-07-29 17:07] nie-moviestarplanet commented on #448
It works now. Thanks!

[2022-07-29 17:07] #448 closed

[2022-07-29 18:30] laresbernardo opened #449 "Issue with rstan when installing Robyn in macOS 12.5"
I'm trying to install Robyn's CRAN version in my personal laptop (macOS) and it seems to have issues with `rstan`'s configurations. Not sure what the real problem is but sharing this log in case some one has the same problem and know how to solve it:

[code]
Sharing my `sessionInfo()`:
[code]

[2022-07-29 18:43] laresbernardo commented on #449
After updating my R version to R version 4.2.1 (2022-06-23) "Funny-Looking Kid", it seems to be working OK and no errors when installing Robyn.

[2022-07-29 18:43] #449 closed

[2022-07-30 19:46] sziolko commented on #376
@kyletgoldberg I see the same issue.

When running with the `readRDS` function as you describe:
[code]
There is an immediate error of:
`Error in file.exists(robyn_object) : invalid 'file' argument` as it is looking for the file path for the object, not an already loaded robyn_object.

When loading as described in the demo.R file https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R#L

[2022-08-01 10:57] nie-moviestarplanet commented on #376
I'm having the same issue. Running on version 3.7.0.

[code]

The robyn_object being used is the result of loading an old model

[code]

[2022-08-01 13:55] anuragvimal opened #450 "Calculation for xDecompAgg"
@kyletgoldberg Can you please help me understand the calculation for xDecompAgg? I understand this is being used as a percentage in waterfall decomposition and calculating ROIs. Thank you for your time.

[2022-08-01 14:29] laresbernardo commented on #376
Try passing `robyn_object = "RobynCDF.RDS"` instead of the object

If you're in 3.7.0 (as intended in the demo.R file) you don't need to specify the `select_model` given it's redundant and the RDS already has that information, so the ID will be picked up automatically.

Can any of you two [share](https://docs.google.com/forms/d/e/1FAIpQLSeOD3bkcGftJZ3IMZ5EPaBtxM7OyjL9DPBfRiZCH2qGIU7xpA/viewform) a

[2022-08-01 18:06] Harshitha-HM1999 commented on #435
Hi @kyletgoldberg,

If I create a custom function inside the render function, I can able to print multiple dynamic variables. code and output are in the following screenshot.

![image](https://user-images.githubusercontent.com/85454282/182207639-09799709-28d4-4838-a673-961f0a92df71.png)

![image](https://user-images.githubusercontent.com/85454282/182208358-10c5caaa-e68f-4159-837a-b96470614204.png)

[2022-08-01 19:25] sziolko commented on #376
@laresbernardo I will try to make the time to test it with the demo data. But my process that is failing is essentially.
1. Run demo.R
2. Close R
3. Decide that you want a different model from that run.
4. Open R run up through step 4 in the demo script (so that you have the data, InputCollect etc in your R session).
5. Run:
[code]

[2022-08-01 19:51] kyletgoldberg commented on #435
try seeing if it prints to the console if you don't render it. using the breakpoints to debug this should give you a clear idea whether you have issues with robyn_inputs or whether its a shiny issue.

[2022-08-01 19:53] kyletgoldberg commented on #434
try using one less core than you have available. serialize issues are due to the parallel processing killing one of the workers.

[2022-08-01 19:54] #432 closed

[2022-08-01 19:57] kyletgoldberg commented on #429
it looks like you are storing the values as a long string rather than setting the values of the variable for a1. why doesnt b work?

[2022-08-01 19:58] kyletgoldberg commented on #446
hi - can you please further describe the issue and provide some detail so we can address the question?

[2022-08-01 19:59] kyletgoldberg commented on #450
is there a specific part of xDecompAgg you are having trouble with? if you go into the outputs.R file and/or model.R file you should be able to find the code creating that table

[2022-08-01 20:00] kyletgoldberg commented on #442
we exclude 0 spend days from this calculation, so if you have a lot of 0 spend days for the channels that are lower than the budget allocator that would be why.

[2022-08-01 20:52] laresbernardo commented on #376
Can you please share you `pareto_hyperparameters.csv` file? Using the same demo.R InputCollect right?

[2022-08-02 00:01] sziolko commented on #376
[code]

[2022-08-02 18:19] jaylin92 opened #452 "Issue installing Robyn on Ubuntu"
## Project Robyn

## Describe issue
I'm unable to install Robyn through cran or github.

This is the error I get when I try to install it.
ERROR: dependencies ‘data.table’, ‘dplyr’, ‘ggridges’, ‘glmnet’, ‘lares’, ‘lubridate’, ‘minpack.lm’, ‘nloptr’, ‘prophet’, ‘rPref’, ‘tidyr’ are not available for package ‘Robyn’
* removing ‘/home/jaylin/R/x86_64-pc-linux-gnu-library/4.2/Robyn’
Warning in install

[2022-08-02 20:13] laresbernardo commented on #376
What's happening here is that we don't have the hyper-parameter bounds for each of those fixed hyper-parameters. Let me think of a way to deal with these cases and will update this ticket.
CC: @gufengzhou

[2022-08-02 22:07] laresbernardo commented on #452
Hi! We can't replicate your issue but taking a look at [Robyn's CRAN checks by OS](https://cran.r-project.org/web/checks/check_results_Robyn.html), it seems you shouldn't have a problem with any of its flavours (r-devel-linux-x86_64-debian-gcc, r-devel-linux-x86_64-debian-clang). Check your internet connection maybe.

[2022-08-02 22:09] laresbernardo commented on #427
You seem to be using an old version of Robyn (given that plot's theme). Can you please update and let us know if you still have the same issue? Also, try adding more context variables to help the model understand what's happening with your data.

[2022-08-02 22:10] #389 closed

[2022-08-02 22:12] laresbernardo commented on #450
Taken from our [schema](https://github.com/facebookexperimental/Robyn/blob/main/demo/schema.R) doc:
[code]

[2022-08-03 04:56] anuragvimal commented on #450
Thanks so much @laresbernardo and @kyletgoldberg. This helps. :)

[2022-08-03 14:56] #450 closed

[2022-08-03 16:34] DioneyC opened #453 "How Robyn compute ROI on each spend channel?"
I would like to know how is the compute of each channel ROI. What variables are involved and the general formula in macro?. Thanks.

[2022-08-03 16:45] laresbernardo commented on #453
Taken from our [schema](https://github.com/facebookexperimental/Robyn/blob/main/demo/schema.R) doc, you'll get:
[code]

[2022-08-03 22:00] DioneyC commented on #453
Thank you! I just read how XdecompAgg is computed in the code but didn't find the ROI calculation. I suppose that isn't in the model.R code.

[2022-08-03 23:59] laresbernardo commented on #453
That's right. You can find this calculation in the pareto.R file, [here](https://github.com/facebookexperimental/Robyn/blob/main/R/R/pareto.R#L110).

[2022-08-04 14:39] shivanichandna commented on #207
Hi,
What if we get intercept as zero?
We do expect some base sales for our data but what if the intercept is always zero. How do we interpret that?

Thanks,
Shivani

[2022-08-04 16:18] robhannon opened #454 "Calibration Parameters from GeoLift"
## Project Robyn

## Describe issue
I am using fb's GeoLift package to calculate Lift but am not not sure what I should add as calibration inputs in Robyn. There are no specific dates in the GeoLift package but rather a treatment period which might not span the full length of the data table. Also not exactly sure what liftAbs might be? I believe I understand spend should be the total investment fr

[2022-08-04 20:11] #445 closed

[2022-08-05 07:58] #452 closed

[2022-08-05 12:19] gedkitchener-CT commented on #434
@kyletgoldberg That's very handy information - I didn't know that.

Dropping the number of cores appears to have solved this serialise issue.

Thanks again.

[2022-08-05 12:19] #434 closed

[2022-08-05 14:49] atoontas opened #455 "Error in check_paidmedia"
## Project Robyn

## Describe issue
I keep on getting the same error message when trying to run the InputCollect:

Error in check_paidmedia(dt_input, paid_media_vars, paid_media_signs,  :
  Provided 'paid_media_vars' is not included in input data

I have looked for missing values,etc. And there are none and I cannot understand why it isn't running. The simulated data works fine.

## Provide dummy

[2022-08-05 15:10] #453 closed

[2022-08-05 15:55] laresbernardo commented on #455
Taking a look at your data, "audio_s" should be "audio_S" (uppercase S)

[2022-08-05 15:58] atoontas commented on #455
I am still getting the same error.

[2022-08-05 16:06] laresbernardo commented on #455
Please, double-check: `videos_S` should be `video_S`.
Added a new chunk of code to help users detect these errors faster.

[2022-08-05 16:10] atoontas commented on #455
You are correct. Sorry for the inconvenience caused @laresbernardo

[2022-08-06 09:47] PetricaR opened #456 "robyn_json configuration file to be saved in robyn results directory by default"
Hello,

Is it possible to have the exported configuration file (JSON in the same folder with the experiment results)?

robyn_json(InputCollect, dir = "~/experiment_folder_name")

Thanks
Petrica

[2022-08-08 14:15] laresbernardo commented on #456
Hi! When you have simply created `InputCollect` you still don't have that folder created. You can export it manually as you suggest or after you have created `OutputCollect`, use `OutputCollect$plot_folder` as `dir`.

Said that, we can automatically save the InputCollect when we run `robyn_outputs()` (to save `InputCollect` inputs) and when running `robyn_save()` to save the exported model's info

[2022-08-08 16:44] #410 closed

[2022-08-08 16:44] #413 closed

[2022-08-08 16:45] #431 closed

[2022-08-08 16:46] #435 closed

[2022-08-08 21:57] robhannon opened #461 "Total Spend Increase"
## Project Robyn

## Describe issue
I am not able to find a proper formula that gives the total spend increase from the Robyn_allocator function for the "max_response_expected_spend". I sometimes get negative values which I have been able to mess around with to resolve, but was wondering what the exact formula was?

## Environment & Robyn version
Latest Robyn version

[2022-08-09 14:31] PetricaR commented on #456
Great!

[2022-08-09 14:34] laresbernardo commented on #456
Hey @PetricaR I've updated the [demo.R file](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R) so people start using these new methods to export and import Robyn models instead of the RDS files. Would you be so kind to test them out? Thanks!
(Remember you must update your Robyn version to the latest dev version)

[2022-08-09 14:48] PetricaR commented on #456
I am doing this right now. I will let you know how it works.

[2022-08-09 15:05] laresbernardo commented on #456
Cool! Thanks for checking and sharing. For potentially following questions, I'm sharing how to use it to replicate Robyn stuff:

[code]
NOTE: keep in mind these files DO NOT store your dataset nor the holiday data, so they must be provided as well to recreate models and objects.

[2022-08-09 15:38] PetricaR commented on #456
Awesome!!!

[2022-08-09 17:40] #456 closed

[2022-08-09 20:11] laresbernardo commented on #452
[This](https://datawookie.dev/blog/2022/08/linux-packages-for-r/) external post might come useful for Linux users.

[2022-08-09 21:46] JessicaMDuncan commented on #366
I'm having this same issue:
`Input 'metric_value' for google_display_s (0) must be a positive value"`
In the new date window, spend is 0 for all days for this channel.

Running version 3.7.1 (not sure how since latest documented release appears to be 3.7.0...), and I'm seeing very recent updates to `refresh.R`(2 hours), `checks.R` (yesterday), and `allocator.R` (yesterday) in facebookexperimental/

[2022-08-09 21:57] laresbernardo commented on #366
Hi @JessicaMDuncan The demo.R file has the 3.7.1 and it's currently the latest version. As for your issue, I think that's not a bug but rather the result of `check_metric_value()` which detects your google_display_s channel has 0 spend within the date window (as you mentioned). Try removing it by setting the upper and lower limits to 0.

[2022-08-09 22:56] JessicaMDuncan commented on #366
@laresbernardo that was the error produced at the end of `robyn_refresh`; it ran through all trials and then produced that error. What step of the process is this warning supposed to occur?

[2022-08-10 14:39] DzimitryM opened #462 "Very large and always positive residuals"
## Project Robyn

## Describe issue
In some of the output solutions the difference between actual and predicted response is large and always positive.
This issue takes place after upgrading Robyn from v3.6.3 to v3.7.0 / v.3.7.1.
An example of a strange output, it was chosen by the internal clustering algorithm as one of the best.
![1_149_6](https://user-images.githubusercontent.com/8161754/1839265

[2022-08-10 21:12] laresbernardo commented on #462
Yes! Good catch @DzimitryM
Missed adding the intercept to depVarHat. Already pushed a [fix](https://github.com/facebookexperimental/Robyn/commit/256dd6f8283175c458180c18da307c8ea4316471). Please, feel free to update the package and re-try and close if the issue is solved. Thanks for noticing and reporting!

[2022-08-10 21:39] laresbernardo commented on #366
To help me debug this case, can you please [share with me](https://docs.google.com/forms/d/e/1FAIpQLSeOD3bkcGftJZ3IMZ5EPaBtxM7OyjL9DPBfRiZCH2qGIU7xpA/viewform) your dataset and model's JSON file to see if I can replicate this error? Thanks!

[2022-08-11 15:49] DzimitryM commented on #462
Thank you @laresbernardo for the prompt fix

[2022-08-11 15:50] #462 closed

[2022-08-15 17:10] #455 closed

[2022-08-15 17:11] kyletgoldberg commented on #461
check this here, should help explain it https://github.com/facebookexperimental/Robyn/issues/409#issuecomment-1177895687

[2022-08-16 17:03] qiongji75 commented on #446
How does the model identify the organic traffic or unattributed traffic? ie. ios doesn't provide further breakdown for which channel the acquired users come from.

[2022-08-16 18:07] kyletgoldberg commented on #446
MMM does not rely on attributed conversion data, in fact it should be fed in unattributed impression/spend data and unattributed conversion data. Including previously attributed data will bias the results

[2022-08-16 18:33] qiongji75 commented on #446
thanks for the response. MMM performs without attributed data, ie. if we know how many users acquired through facebook, google ads, tiktok etc., we don't need to fed those channel specific data into the MMM model, instead we just fed the total acquired user from ios or andriod into the MMM model, then the model will predict which channel (facebook, google ads, tiktok etc.) is more effective by acq

[2022-08-16 18:51] kyletgoldberg commented on #446
mmm works by feeding channel specific delivery data and using that to predict the contribution of each channel to conversions/revenue. it has a similar goal as attribution (i.e. understand ROI for media spend) but goes about it in a different way.

[2022-08-16 19:50] qiongji75 commented on #446
what is the channel specific delivery data?

[2022-08-16 21:28] kyletgoldberg commented on #446
impressions/spend

[2022-08-17 15:46] JessicaMDuncan commented on #366
@laresbernardo I am awaiting confirmation from my leadership team that they will authorize sharing of the data. In the meantime, using placeholder (non-zero spend) data for this channel, I'm now receiving the error discussed in [this thread](https://github.com/facebookexperimental/Robyn/issues/376) which appears to still be active/ awaiting an update.
<img width="1095" alt="Screen Shot 2022-08-17

[2022-08-17 19:13] laresbernardo commented on #376
@sziolko with the [new method](https://www.facebook.com/groups/robynmmm/permalink/1252761488825315) of exporting Robyn models to recreate them, this issue is fixed. Can you please update to the latest dev version and retry? You can use the [demo.R](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R) file to see how it works, especially the last section.

[2022-08-17 19:15] #387 closed

[2022-08-17 19:16] #418 closed

[2022-08-17 19:17] laresbernardo commented on #385
Same as [this ticket](https://github.com/facebookexperimental/Robyn/issues/351). It's an enhancement we will be working on and sharing once it's done. Closing ticket.

[2022-08-17 19:17] #385 closed

[2022-08-17 19:17] laresbernardo commented on #351
It's an enhancement we will be working on and sharing once it's done. Closing ticket.

[2022-08-17 19:17] #351 closed

[2022-08-17 19:19] #388 closed

[2022-08-17 19:19] #428 closed

[2022-08-17 19:20] #414 closed

[2022-08-17 19:21] #407 closed

[2022-08-17 19:21] #400 closed

[2022-08-17 19:22] #419 closed

[2022-08-17 19:40] qiongji75 commented on #446
Thanks. Even if we have clean attributed data, like we know the # of users we acquired through facebook etc. we don't feed in those data, instead the model will predict users acquired from each channel?

[2022-08-17 20:53] tgtod002 opened #465 "question on Budget Allocator Max_response_allocator"
## Max Response Allocator

Question on the current logic for Max_response in budget allocator.

It looks like the current logic when computing max_response_expected is to compare histSpend with Expected Spend.   What this does is to compare a previous share allocation at a different budget (histSpend) vs. a new budget (ExpectedSpend).

Shouldn’t the comparision be ExpectedSpend(with old share allo

[2022-08-18 12:44] GrizzledLotus opened #466 "Why Don't Model Results Show Impression Variables in One-Pager Results and Model Results Identical for Impression version and Spend version?"
## Project Robyn

## Describe issue
I would expect that if impression variables were declared in paid_media_vars that they would be represented in the waterfall chart and the effect spend/share/ROI chart. Yet when I run the demo.R code as is, only the spend variables show up in those results. Further, when I run the demo.R script and change the paid_media_vars to only the spend variables in paid_m

[2022-08-18 12:57] kyletgoldberg commented on #446
correct - that data has some inherent bias due to attribution methodology

[2022-08-18 16:07] DioneyC opened #467 "Error in setting/configurate Python and Nevergrad on Linux Server"
I'm trying to configure Robyn on a Linux server, but when I set the python path it doesn´t recognize nevergrad. I decided to create a virtual environment without using the R commands we can find in Robyn's installation examples. Then, I download nevergrad in the environment and try to specify the python path with the following line:

- use_python("/path/anaconda3/envs/r-reticulate/bin/python3.9")

[2022-08-18 16:55] Leonelsentana commented on #467
Hi @DioneyC,

Are you sure that /path/anaconda3/envs/r-reticulate/bin/ is the right path where you have python installed? Does py_config() mention anything on this?

Thanks

[2022-08-18 17:12] DioneyC commented on #467
Hi @Leonelsentana , Thanks for answering this issue. I'm sure that is the correct path, except for the "/path/". I replace it to minimize the path size.

[2022-08-18 22:58] muuratjann opened #468 "Convergence problem and cluster choice"
Dear team,

I very much appreciate the work you have done! Here are some questions that I want to ask:

1. In my algorithm although NRMSE converges well, DECOMP.RSSD never does. I have tried to increase the number of iterations and trials, and increase the interval width for the hyperparameters. But it never converges. I have read on one of the issue posts that it can happen and that it is more im

[2022-08-19 19:29] DYX10 opened #469 "feature engineering | getting error "Error in setup_dataframe(m, history, initialize_scales = TRUE) : Regressor "...1" missing from dataframe""
## Project Robyn

## Describe issue
Describe your issue and provide error message

When setting hyper parameters, saw this error message

## Provide dummy data & model configuration
Issues are often related to custom input data that is difficult to debug without. If necessary, please modify your data to mask real values and share a dataset that is able to reproduce the issue. Please also share you

[2022-08-22 10:48] Leonelsentana commented on #467
Hi @DioneyC, all I can offer you is to try docker. It has been useful for Linux users, you can check the files in https://github.com/facebookexperimental/Robyn/tree/main/R/Docker. Also docker image is here: https://hub.docker.com/layers/leosentana/robyn/latest/images/sha256:fd701fe582d1314d4baae99b6daa664f210b21e310006d003c8c42710ab70382?fbclid=IwAR0Ns3-g0pqYgQzJgKAtNAOJzOPsmJ_CD1jVcbNjtBKQMfybeuy

[2022-08-22 14:41] laresbernardo commented on #469
Hi @DYX10 Please share a reproducible example. It seems it [may](https://stackoverflow.com/questions/48925255/fbprophet-giving-error-when-growth-logistic-python) have something to do with prophet. But no chance of reproducing your issue as reported.

[2022-08-24 07:29] omunozgarcia opened #472 "Getting error when facilitating holidays data"
Hello Robyn team,

I'm getting an error when facilitating holidays data, but it used to work previously before updating to latest Robyn version.

I'm working with daily data.

I'm loading the data using the following command (as in the demo):

`data("dt_prophet_holidays")`

After that, I set the following prophet related parameters to the input:

[code]

And when assigning the input using the roby

[2022-08-24 10:34] DaveJacques commented on #259
Hi @extrospective,

I just want to say thanks so much for both your pre-install advice and your reticulate advice.

I was going round in some serious circles getting reticulate to install nevergrad within a virtual environment and stumbling upon your post was a god-send!

I really appreciate you taking time to offer advice to the community!

[2022-08-24 11:48] omunozgarcia commented on #472
Adding to my previous comment that I'm using daily data

[2022-08-24 14:07] laresbernardo commented on #472
Hi @omunozgarcia thanks for reporting this.

This bug hasn't actually been fixed yet. You are right this has been reported by a user in FB group and the prophet [ticket](https://github.com/facebook/prophet/issues/2248) I submitted. But still hasn't been fixed. I know that it's got to do with 1) daily level granularity and 2) prophet's fit function. Haven't discovered how to fix it yet.

We enable

[2022-08-24 15:33] omunozgarcia commented on #472
Hello @laresbernardo. Thanks a lot for your very quick response.

I'm excluding holiday from prophet vars and the prophet_decomp.png is not being generated to me. I'm working with 3.7.1 package version of Robyn.

Taking a look to Robyn's latest source code in line 213 of inputs.R (https://github.com/facebookexperimental/Robyn/blob/main/R/R/inputs.R) I'm thinking that the following code is preventi

[2022-08-24 15:43] laresbernardo commented on #472
That line of code is for when there is no `dt_holidays` input (which is the data that contains the holidays) or `prophet_vars` is NULL or doesn't contain anything (will simply turn prophet off). In your case, you have other elements: trend, season, etc.

Can you recheck if you are actually running on the latest dev version? No new updates available? You set `prophet_vars = c("trend", "season", "we

[2022-08-24 15:46] muuratjann commented on #468
@laresbernardo

Thank you a lot for your reply. It was very helpful! I have another question:

When I run the algorithm using the [impressions and costs] and [only costs], I get the same results except that [impressions and costs] give less models to choose from. Otherwise the model codes like 3_1024_3 and the plots and summaries are exactly the same. Is there a reason for that?

[2022-08-24 20:09] laresbernardo commented on #472
[Potential fix PR](https://github.com/facebook/prophet/pull/2252)

[2022-08-24 20:11] omunozgarcia commented on #472
Thanks a lot for your indications, Bernarno. I finally got prophet for trend season and weekday.

Could you please let us know as soon as the issue with Prophet and holidays is been solved?

[2022-08-25 01:54] gufengzhou commented on #466
Hi Philip,

Thanks for reaching out! We're having capacity constraints during the summer breaks so please bear with us.

Regarding the impressions, yes the latest versions will fit spend by default, while impressions are used only for indications purposes: when the pattern of imps and spend are very different, we recommend to split the channel to obtain more variability and thus better fit.

We us

[2022-08-25 02:29] EaPalacios opened #473 "Error completing a JSON export and import"
## Project Robyn

I am trying to complete step #331 where I perform a JSON export and import. The instruction is:
[code]

When I try running it, the error message I receive is:
[code]
I was able to successfully run all steps prior to this one.

My Robyn package version is 3.7.1.
My RStudio information is 2022.07.1+554 "Spotted Wakerobin" Release (7872775ebddc40635780ca1ed238934c3345c5de, 2022-07-2

[2022-08-25 13:33] laresbernardo commented on #473
Hi @EaPalacios that's expected when the selected model you wish to export is not one of the models created. Print `OutputCollect` and check the model IDs available for you to export.

[2022-08-25 19:13] laresbernardo commented on #469
Taken from an internal message I got from another user that got this same error:

This issue has already been solved in latest versions. Please, update. For reference: when a variable contains only a single value (no variance), when running `robyn_inputs()` it'll check for variables that are being used and have no variance and will stop with an informative error saying so. So you should remove tha

[2022-08-26 15:21] laresbernardo commented on #469
Additionally, we've detected another potential source for this issue (which should've been fixed in the [latest commit](https://github.com/facebookexperimental/Robyn/commit/cb618c116d7b9f9272c915202240555449b83977)). There was a bug when running one-hot-encoding and 1) you had only 1 categorical variable defined in `factor_vars` and 2) it had only 2 levels (unique values). Shouldn't break now. Fee

[2022-08-27 04:27] gufengzhou commented on #465
Hi, we actually compare the optimised spend share with the initial spend share, as well as the optimised response (or allocation) share with initial. I'm not 100% sure about your question.

You can also check the script in R/R/allocator.R

[2022-08-28 10:32] sallyhong opened #474 "Confusing log output (hyperparameters check)"
## Project Robyn

## Describe issue
in the `facebookexperimental/Robyn/R/R/checks.R` file,
<img width="751" alt="image" src="https://user-images.githubusercontent.com/8099467/187069442-7da757e0-b455-4e2e-82f6-0e8631fc3461.png">
The output is reversed.
Line 432 should be `total_in,  total`

## Provide reproducible example
<img width="700" alt="image" src="https://user-images.githubusercontent.com/8

[2022-08-29 13:57] laresbernardo commented on #474
Thanks for reporting this mistake @sallyhong Fixed! :)

[2022-08-29 22:59] tgtod002 opened #475 "Different results Robyn 3.6 and 3.7 (same data and hyperparameters))"
## Project Robyn
I re-ran the same set of data using Robyn 3.6 then re-ran with 3.7.   I received very different results.   Was there a major change in the logic that would cause this?

Thanks.

## Describe issue
Describe your issue and provide warnings and error messages.

## Provide reproducible example
Issues are often related to custom input data that is difficult to debug without. If necessar

[2022-08-29 23:50] laresbernardo commented on #475
Hi @tgtod002 we've changed a lot of things around since version 3.6. Check our changelogs based on our releases [here](https://github.com/facebookexperimental/Robyn/releases).

Basically, we re-coded everything from scratch to migrate from data.tables to R and tidy code format. Results should be reproducible using the same versions, not guaranteed when different versions.

Keep in mind there are s

[2022-08-30 15:42] virithavanama opened #477 "Initial Mean response and Optimized mean response issue"
Is there a way to convert the Initial Mean response from the budget allocator to match the original conversion values?

[2022-08-30 17:22] sbookhultz opened #478 "robyn_run timing break"
## Describe issue
My issue is with using the robyn_run statement (probably more specifically in the robyn_outputs call).

I've run a model with about 3 years worth of daily data, and ran it for 5000 iterations over 10 trials on a machine with 12 threads. My model has 109 hyperparameters (most fixed) and each trial was taking about 2 hours to run. On my 9th of 10 trials it was 99% of the way done w

[2022-08-30 17:51] laresbernardo commented on #478
Hi @sbookhultz thanks for reporting this.
- AFAIK, there's nothing internal that doesn't allow you to run the function for more than 3 hours. Try with fewer trials to see if you can avoid this problem. Can you share the error you get? Is something printed?
- Yes, you can export any model with `robyn_write()` functions (latest dev version - not 3.6.3 yet) and import with `robyn_read()`. Check out t

[2022-08-30 17:58] sbookhultz commented on #478
* I don't even get an error, which is weird. I get "Timing stopped at: 1.095e+04 2802 7856" from the robyn_run() call. I'll definitely try wit
*

[2022-08-30 18:06] sbookhultz commented on #478
Well I didn't mean to close this and thanks for the quick reply!

* I'll definitely try with fewer trials, there's no actual error printed, all that prints out is
Running trial 9 of 10
  |===================================================== |  99%
Timing stopped at: 1.095e+04 2802 7856

* I understand that I can export any specific model (that is amongst the best models) once the `robyn_outputs()

[2022-08-30 18:07] sbookhultz commented on #478
Well I didn't mean to close this and thanks for the quick reply!

I'll definitely try with fewer trials, there's no actual error printed, all that prints out is
Running trial 9 of 10
|===================================================== | 99%
Timing stopped at: 1.095e+04 2802 7856

I understand that I can export any specific model (that is amongst the best models) once the robyn_outputs() call is

[2022-08-30 18:51] laresbernardo commented on #478
Hi @sbookhultz

I've just deployed the `tryCatch` solution 1) returning the temporal results up to where the function broke/stopped, 2) warning the user the results are partial, and 3) showing the error message if exists.

By default, when running `robyn_run()` we aren't exporting anything, we are simply training models and piling them up. Note that we "know" where to export stuff when we run `rob

[2022-08-30 19:00] sbookhultz commented on #478
Awesome, thanks for the update and addition!

[2022-08-30 19:00] #478 closed

[2022-08-30 23:49] #474 closed

[2022-08-31 06:53] satomi999 opened #479 "Question about budget allocation"
Hello, thank you for creating Robyn!
I have tried to run robyn_allocator, but I am not sure how to interpret the following two points.
Sorry to bother you, but could you please give me your thoughts on the questions below?

### 1. Initial average response by robyn_allocator and original average response
Why does the initial response before optimization computed by robyn_allocator not match the ori

[2022-08-31 09:02] Leonelsentana commented on #477
Please chack my calcs done on the last comment here: https://github.com/facebookexperimental/Robyn/issues/227

[2022-08-31 15:29] virithavanama commented on #477
Hi, @Leonelsentana Thanks for the response.
The calculations you mentioned in that comment are for spend but I want the calculations for Initial mean response(conversions) to match to original conversions

[2022-08-31 19:21] ryomayes commented on #472
+1, getting this error as well. Please let us know when it's resolved, thanks!!

[2022-08-31 19:49] laresbernardo opened #480 "Crash on robyn_refresh() using json_file: Can't combine `..1$ds` <character> and `..2$ds` <date>"
## Describe issue
A user reported in our [FB group](https://www.facebook.com/groups/robynmmm/posts/1252761488825315?comment_id=1252872338814230&reply_comment_id=1265514010883396) that experimented the following issue when running `robyn_refresh()`. The full error is:

[code]
## Provide reproducible example
User shared his data and json files to reproduce the error.

[code]

## Environment & Robyn

[2022-08-31 20:29] rafpinter opened #481 "Unable to run robyn_allocator after loading a model using robyn_recreate"
## Project Robyn

## Describe issue
I'm getting an error message while trying to run `robyn_allocator` after loading a model from a JSON file using `robyn_recreate`:

[code]

It seems like the function `robyn_allocator` is trying to access a folder that does not exist. The `robyn_allocator` folder is different from the original model folder.

Here is the code that I ran:

![image](https://user-ima

[2022-08-31 20:37] shekharkhandelwal1983 opened #482 "Issue with robyn_allocator when creating robyn object using already stored RDS files."
## Project Robyn

## Describe issue
Issue with  robyn_allocator  when creating robyn object using already stored RDS files.

Error :

Error in `OutputCollect$resultHypParam[solID == select_model]`:
! Must subset columns with a valid subscript vector.
ℹ Logical subscripts must match the size of the indexed input.
✖ Input has size 36 but subscript `solID == select_model` has size 14.
Run `rlang::las

[2022-08-31 22:12] laresbernardo commented on #481
Hi @rafpinter thanks for reporting this! I can't seem to replicate your problem. Did you change the original directories? Did you move the results to another folder? Can you check your `InputCollect$plot_folder` - makes sense?

<img width="1084" alt="Screen Shot 2022-08-31 at 5 11 35 PM" src="https://user-images.githubusercontent.com/25909073/187794395-0f61fdc1-c08c-4729-8b53-adc8c716bbd6.png">

[2022-09-01 09:20] Leonelsentana commented on #477
So, this would be almost the same but changing to response instead of spend. Does that make sense? Taking the example from https://github.com/facebookexperimental/Robyn/issues/227 you would need to do:
**[total_conversions (for certain channel) + ((optmResponseUnit - initResponseUnit) x non-zero spend time_units (non-zero spend weeks or days in your window), then divide by the total_conversions].*

[2022-09-01 12:22] rafpinter commented on #481
Hi @laresbernardo, thank you so much for your response. I'm going to answer your questions below.

Did you change the original directories?
No, I didn't. I ran the line `robyn_object <- "~/Desktop"`, but it was unable to find this folder on my machine, so my current working directory was used.

Did you move the results to another folder?
No, I didn't.

Can you check your OutputCollectX$plot_folder

[2022-09-01 13:49] virithavanama commented on #477
From my data:
Aggregated csv data:
channel 1:
Total_spend=1461776
Roi_total=0.0061
Total conversions_channel1=1461776*0.0061=5006.78
channel 2:
Total_spend=120793.77
roi_total=0.0034
Total_conversions_channel2=120793.77*0.0034=732.23
Total_conversions=5006.78+732.23=5739.01
Reallocated csv data:
optmresponseunit_channel1=45.71
initResponseUnit_channel1=44.63
(optmResponseUnit - initResponseUnit)_c

[2022-09-01 14:54] virithavanama opened #483 "Data preparation for Robyn"
Hi Team,

In the data preparation document for Robyn, it is mentioned that we have to maintain the channel to rows ratio is 1:10. And in the modeling it's mentioned we can give complete data and choose a rolling window for building the model. So if I have data with 3 channels,
 do we need to give complete 2 years of data aggregated in weeks (104 weeks) and select the latest 30 weeks as the rolling

[2022-09-01 14:57] virithavanama opened #484 "Hyperparameters range effect on the model"
Hi Team,

In the documentation, it is suggested to use custom hyperparameter ranges(eg: alpha=(0.5,3)) for digital channels rather than using the complete range. How is the custom range going to affect the model? And for some data full range is performing better than the suggested range, is it ok to go ahead with the complete range?

[2022-09-01 16:13] laresbernardo commented on #481
Yeah, that's an example that works in macOS. You should simply pick any (existing) directory that you want to output your results to (Documents, Desktop, etc). If it doesn't exist, it'll dump the outputs in your current directory (`getwd()`).

Correct!

[2022-09-01 17:11] virithavanama commented on #477
10042 is the total conversions for 51 weeks directly from the original data and the value without division is 5061.86 which is not matching

[2022-09-02 02:26] gufengzhou commented on #483
Yes always input all available data. Regarding window length, if you use Robyn's trend season and holiday, you'll add another 3 indep vars so you'll want to go for 60 weeks of window length

[2022-09-02 02:32] gufengzhou commented on #484
You can find detailed explanation of what each hyppar means [here](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R#L131). it's also very recommended to look at both helper plots `plot_adstock(plot = TRUE)` and `plot_saturation(plot = TRUE)  ` to assess the change visually

[2022-09-02 03:19] gufengzhou commented on #479
to 1), there's some nuanced difference between mean response from allocator and your averaged response from pareto_alldecomp_matrix.csv. Mean response is the response of mean spend, basically putting the mean spend on the response curve and get that response point, instead of just averaging response of all weeks. Another nuance is that in allocator we don't apply adstock, while in the modelling ou

[2022-09-02 03:25] gufengzhou commented on #454
liftAbs means total incremental response. Assuming treament period is from date  A to B, you should just put A and B as start and end date. Assuming GeoLift gives you incremental response of Y during A-B, and if the spend level in GeoLift is the same spend in the same period in Robyn, then you can just put Y as liftAbs. If not, you should scale Y up using the ratio of spend in Robyn & GeoLift with

[2022-09-02 05:17] #427 closed

[2022-09-02 08:11] satomi999 commented on #479
@gufengzhou
Thank you for your response !

1. OK, I found that the average response is calculated differently.

But in robyn_response called from robyn_allocator, there is a code to do adstock, but is this process not applied?
https://github.com/facebookexperimental/Robyn/blob/b558cdedb26355feaa28e92c3cb27e396b6c93a4/R/R/response.R#L226

2. I changed the upper constraint for this channel in the al

[2022-09-02 13:50] roh-neenopal opened #485 "Channels with effect share is high and less change in the optimized spend"
## Project Robyn

## Describe issue
How do we conclude when the effect share is high and less change in optimized spend for a channel.

## Provide reproducible example
I have 15 channels and a couple of them show a high effect share ~ 10-15% whereas their spend share is around 1%. However, the optimized share shows a small increase only. The up_construct variable has the recommended value of 2 and

[2022-09-02 14:42] gufengzhou commented on #479
good one. the adstocking part in the response function is to recreate the saturation curve: because all saturation curves are created during the modelling process, so it requries adstocking. But the `metric_value` isn't affected by this part, due to the reason I explained before. I'm aware that this approach is not intuitive for many users and is a intermediate solution until we update it in the f

[2022-09-02 14:45] gufengzhou commented on #442
besides what Kyle has explained, please also check [this thread ](https://github.com/facebookexperimental/Robyn/issues/479)for more context

[2022-09-02 14:48] gufengzhou commented on #485
how much a channel will increase/decrease in the allocator is all depending on the saturation curve. Assuming one channel is  already reaching a slow increasing part of the curve, but as long as it's still more efficient than other channels, the allocator will still recommend to increase budget for this channel. And vice versa

[2022-09-02 16:29] satomi999 commented on #479
@gufengzhou
I see, it's the adstock process for recreate the response curve.
Thank you for your time.

[2022-09-02 16:29] #479 closed

[2022-09-02 21:02] virithavanama commented on #472
+ Even I'm getting the same error for daily data

[2022-09-02 21:22] virithavanama commented on #483
Thank you

[2022-09-02 21:22] #483 closed

[2022-09-03 02:52] virithavanama opened #486 "Negative trend"
what do negative trend and maximum positive season mean?
<img width="372" alt="Screen Shot 2022-09-02 at 10 51 13 PM" src="https://user-images.githubusercontent.com/89505409/188253114-5573766d-3c80-4cb9-86d3-90bcc494b796.png">

[2022-09-04 15:08] tejas-skewb opened #487 "Failed to install Nevergrad"
## Project Robyn

## Describe issue
After creating environment for Robyn, unable to install nevergred

## Provide reproducible example

Using virtual environment "C:/Users/Tejas Nikumbh/Documents/.virtualenvs/r-reticulate" ...
+ "C:/Users/Tejas Nikumbh/Documents/.virtualenvs/r-reticulate/Scripts/python.exe" -m pip install --upgrade --no-user "nevergrad"
WARNING: pip is configured with locations th

[2022-09-05 06:20] roh-neenopal commented on #485
![image](https://user-images.githubusercontent.com/90190987/188372914-e550ee2c-461c-4841-acf3-1fdbad92cbe2.png)
![image](https://user-images.githubusercontent.com/90190987/188373017-566bd974-71e3-4305-ac37-9e935c9850fc.png)
![image](https://user-images.githubusercontent.com/90190987/188373052-c150759e-d546-4709-8d06-3eade91e9d0a.png)
The first is the response curve; the Second and third are the in

[2022-09-05 09:15] Leonelsentana commented on #477
How is it that you know that total conversions for a specific channel should be 10042, if MMM works with total non-attributed values for conversions? Please have in mind that your original data should not use any kind of attributed data, rather total spend, clicks, impressions, etc.

[2022-09-05 13:49] rafpinter commented on #481
Hi @laresbernardo, thanks for the info. I did another test in the Vertex AI Workbench and it seems to be working fine. I'm not sure why it wasn't working on my windows machine, but I'll try to set a preexisting folder when I'm runing the code.

[2022-09-05 14:22] #481 closed

[2022-09-05 14:24] laresbernardo commented on #487
Have you tried [this](https://stackoverflow.com/questions/25981703/pip-install-fails-with-connection-error-ssl-certificate-verify-failed-certi)?

[2022-09-06 02:47] gufengzhou commented on #485
1.2% & 1.8% are spend shares? Then it looks like spend shares is +50%, effect share is also +50%. Looks very linear to me and looks also appropriate to the purple line that's rising very steeply, if I understood you correctly. You should also experiment increasing/changing the upper constraints to check out alternative allocation solutions

[2022-09-06 08:39] muuratjann opened #488 "Cost vs impressions"
When I run the algorithm using the [impressions and costs] and [only costs], I get the same results except that [impressions and costs] give less models to choose from. Otherwise the model codes like 3_1024_3 and the plots and summaries are exactly the same. Is there a reason for that? When I investigated the reason, I found out the following:

I specify the model in this way:

InputCollect <- rob

[2022-09-06 12:58] virithavanama commented on #477
Hi the original data has the total spend and total conversions for each channel split. So based on this we know that that specific channel should have 100042 conversions
<img width="314" alt="Screen Shot 2022-09-06 at 8 57 47 AM" src="https://user-images.githubusercontent.com/89505409/188641251-4b6d6b31-4feb-4964-9b33-f866646a5853.png">

[2022-09-06 16:15] Leonelsentana commented on #477
Hi, is your original data the data you used as input to build the model? If so, this is not correct, marketing mix models are built based on TOTAL conversions and TOTAL spend. Please avoid using any type of attributed data as an input for the MMM models.

[2022-09-06 17:23] tgtod002 commented on #475
Thanks for letting me know.   It makes sense.

Given that, does it make sense to re-run the model every time new versions of Robyn is released?

[2022-09-06 18:13] #480 closed

[2022-09-07 02:16] gufengzhou commented on #475
hi @tgtod002 , by "same hyperparameters" do you mean the same set of ranges at the beginning? if yes, then Bernardo is totally right. Due to the several random processes, even with the same version, you will/should receive different results. Although when your models are all converging, then the candidate clusters from different runs shouldn't be too different. But they won't be identical.

Yes, i

[2022-09-07 02:19] gufengzhou commented on #477
Hi @virithavanama , there's a similar issue about this point, please check it [here](https://github.com/facebookexperimental/Robyn/issues/479)

[2022-09-07 23:03] virithavanama commented on #477
Hi Team,
In the demo its mentioned "dep_var_type = "revenue", # "revenue" (ROI) or "conversion" (CPA)"" so we have used conversions as per demo. We get daily data from channels like Google ads (paid search), google DCM(paid display), etc. So, we know the total conversions for each channel individually. Then the data is transformed into weekly data and passed to the model. I have attached the scree

[2022-09-08 18:15] virithavanama opened #489 "Channels missing in budget allocator"
The budget allocator is missing some channels, is there a way to stop from making those 0?
And there are some channels that are mostly used for awareness so their response conversions are very less but these are required. How to make sure these channels are not 0 in the budget allocator

[2022-09-09 10:37] Leonelsentana commented on #477
Hi @virithavanama I presume that when you say "we know the total conversions for each channel individually" you are applying some sort of attribution logic there to indicate which conversions correspond to which channel, correct? MMM works in a different way by looking into the time series correlation of the total Impressions or total spend data points in time from each channel with the total conv

[2022-09-09 21:58] virithavanama opened #490 "Initial vs. Optimised Mean Response - Initial Mean Response"
The initial Mean response for most channels is showing as 0 for robyn_allocator with max_historical_response

<img width="515" alt="Screen Shot 2022-09-09 at 2 55 54 PM" src="https://user-images.githubusercontent.com/89505409/189451237-f91d964e-6e64-4c7e-96af-098acfcfbd22.png">

<img width="538" alt="image" src="https://user-images.githubusercontent.com/89505409/189451787-a65cf4c2-eaf9-47cf-b729-f

[2022-09-10 01:29] gufengzhou commented on #490
Can you show the onepager of your selected model, as well as the upper and lower contraints in the allocator?

[2022-09-10 01:32] gufengzhou commented on #489
You should start with selecting a proper model, instead of jumping over to allocator. Please share your model onepager To start with

[2022-09-10 01:36] gufengzhou commented on #488
Exposure metrics are used to show their to spends as additional information. For main model fitting, only spend is used. The major reason lies in the saturation curve and budget allocation. When using spend, we get cost-response relationship directly via hill function, which can be directly used in budget allocator. When using imps, we need to do extra fitting between imps and spend to recover the

[2022-09-10 01:38] gufengzhou commented on #486
There's no point in interpreting the model when it's not properly specified.

[2022-09-12 13:03] virithavanama commented on #490
channel_constr_low = 0.75
channel_constr_up = c(1.44, 1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5)
![3_159_7](https://user-images.githubusercontent.com/89505409/189660899-f84d1551-001f-4932-8090-f43d64bd811e.png)

[2022-09-12 13:06] virithavanama commented on #489
![3_159_7](https://user-images.githubusercontent.com/89505409/189661055-6661313c-4d32-4adf-90cb-44e2712506bc.png)
This is the best model we picked out of all the models.

[2022-09-12 13:06] virithavanama commented on #486
What details do you need?

[2022-09-12 13:34] gufengzhou commented on #490
Only digital audio and paid search has initResponseUnit of about 9, all others are close to 0. So the allocator is showing right values.

Please share your selected onepaper. You seem to have chosen a model that's not aligned with your expectation

[2022-09-12 13:44] gufengzhou commented on #489
In general, regression is correlational. If your independent vars are weakly correlated with dependent, there's no model in the world that can prove otherwise.

There're some tuning opportunities though. First I'd start with reassessing your set of predictors. Is it possible that some important business drivers are missing? What's the adjusted R squared of your selected model? Please check the com

[2022-09-12 13:51] virithavanama commented on #490
Above the attached one-pager is the selected model. All the other models are not matching our business.

[2022-09-12 14:07] virithavanama commented on #477
We are not applying any logic..the data directly comes from different channels like Google ads which are for paid search so we need the total conversions. There should be logic to convert the initial mean response to business conversions right?

[2022-09-13 08:52] Leonelsentana commented on #477
The logic is the one I explained above, avoiding to divide by total_conversions https://github.com/facebookexperimental/Robyn/issues/477#issuecomment-1234002864. If you want the decomposition per day you can also get it directly from pareto_alldecomp_matrix. Each column will show each of the channels and other variables contributions to the explained Y (depVarHat)

[2022-09-13 21:21] virithavanama commented on #489
is there a way where we can strictly make sure the channel is not dropped at all?

[2022-09-14 01:20] gufengzhou commented on #489
Short answer is no. If your data is a flat line, it'll be no effect. MMM is no magic. on the above I mentioned couple of "tuners" to build a better model

[2022-09-14 09:44] muuratjann commented on #488
@gufengzhou

Thank you for your response. That makes sense!

[2022-09-14 09:44] #488 closed

[2022-09-14 09:45] #468 closed

[2022-09-14 10:08] muuratjann opened #491 "Some questions"
Dear team,

Thank you a lot for your replies and a great work. I have several questions:

1. I have a data on TV spendings:
   Last week the cost was 1000$ with 40% discount it becomes 600$
   This week the cost was 1000$ with 60% discount it becomes 400$
How should I feed this into the model? If I include the original cost without discount, it seems like it does not reflect the real spendings. If

[2022-09-14 10:11] togawakotori opened #492 "Some questions about weibull function"
Hi, as a beginner to MMM, I try to use your great Robyn to learn MMM. I have a few questions here:

https://github.com/facebookexperimental/Robyn/blob/162449c1dcbf7a4e1983d6c323ef6e1c436a351f/R/R/transformation.R#L129

In Robyn/R/R/transformation.R, line 129, I don't quite understand why a cumprod function is used, as thetaVec seems to be the
value of adstock rate itself. Could there be some more

[2022-09-15 06:53] roh-neenopal commented on #485
1.2% is the initial spend share for Channel-1 and 0.4% is initial spend for Channel-2. 1.8% is the optimized spend share for Channel-1 and 0.6% is optimized spend for Channel-2

[2022-09-15 13:59] Aanai commented on #446
In that case, how does one include organic in the model? Because a certain number of users/transactions should be attributed to organic traffic. It's a channel without any spend, but if we were to include it like we do say, newsletters, what input can we use?

[2022-09-15 19:06] tgtod002 opened #493 "Allocator error"
## Budget Allocator Issue

I am trying to create a modification to the allocator.   I created a new function robyn_allocator_temp2.   However,  I am getting an error message.   Any help or pointer to the right directions please

## Describe issue
Running temp budget allocator for model ID 1_1068_2 ...
Error in `robyn_allocator_temp2()`:
! Can't subset `.data` outside of a data mask context.
Run `r

[2022-09-15 20:28] tgtod002 commented on #493
fixed error by calling dplyr

[2022-09-15 20:28] #493 closed

[2022-09-15 22:48] virithavanama opened #494 "Robyn mmm for data with multiple Geos"
How to run Robyn mmm for data with multiple Geos

[2022-09-15 23:13] virithavanama commented on #489
There are some channels that are mostly used for awareness purposes(impressions) not for conversions. So if there are very less conversions the effect share is almost 0 but we need these channels and also need to estimate the budget for these. Any suggestions to handle this situation?

[2022-09-18 09:48] ogencoglu opened #495 "Latest release notes are not reflected in the webpage"
Last release note that is in the [webpage](https://facebookexperimental.github.io/Robyn/docs/releases) is 3.6.3. Would be nice to have the latest release notes there too as there are important changes.

[2022-09-18 17:00] ogencoglu opened #496 "Typo in Robyn R documentation - hyper_names"
In _hyper_names_ documentation:

You probably meant: Difference between paid_media_vars and organic_vars is that ...

[2022-09-19 01:50] laresbernardo commented on #495
Hi @ogencoglu thanks for reporting this, and you're quite right: we have a bit of a delay updating the website now but @kyletgoldberg will be working on it these following days (after delivering the RobynLearn last week he can spend some more time on the site). For now, you can keep track of all changes on the [Releases](https://github.com/facebookexperimental/Robyn/releases) section of our reposi

[2022-09-19 01:53] laresbernardo commented on #496
Thanks for catching this. Fixed!

[2022-09-19 02:00] laresbernardo commented on #494
Hi! What you are referring to is being able to use panel data for building hierarchical models. As of now, we are not able to do this straightforward with Robyn, given you must provide a single date per row. Please, read more about it [here](https://github.com/facebookexperimental/Robyn/issues/418#issuecomment-1165613542). We have planned to enable panel data eventually but have other features wit

[2022-09-19 02:00] #494 closed

[2022-09-19 03:27] gufengzhou commented on #492
Hi, good questions. Take geometric as example, when theta ==0.5, thetaVec is c(0.5, 0.5, 0.5, ...) and thetaVecCum is c(0.5, 0.25, 0.125, ...). For Weibull, it's a varying decay rate, so thetaVec is c(0.9, 0.8, 0.6, ...) and thetaVecCum is c(0.9, 0.72, 0.432, ...). Makes sense?

For the documentation, we'll check and update accordingly. @kylescotshank FYI

[2022-09-19 14:10] marta-riva opened #497 "Error message: could not find the function robyn_write"
## Project Robyn

## Describe issue
I am running the demo code without modifying anything.
Everything is correct until I get to the point:
`ExportedModel <- robyn_write(InputCollect, OutputCollect, select_model)`
There I receive an error message:

[code]
I hope I provided all the information. I tried to update and re-load the library but it does not work anyway
## Provide reproducible example
Afte

[2022-09-19 14:18] laresbernardo commented on #497
Hi @marta-riva
Can you please run `?Robyn::robyn_write()` and see if you can access the documentation?
This error usually happens when a) the library hasn't been loaded in your session yet or b) you have an older version that still doesn't have that new function [which is not the case - 3.7.3 is OK].

[2022-09-19 14:37] marta-riva commented on #497
I actually had an "Internal Error". Quite weird because I loaded the library many  times before asking (also checking for the updates). I quit and re-start the session and now it works.
Thank you very much for the fast answer.
Have a nice day

[2022-09-19 14:55] #497 closed

[2022-09-21 05:07] togawakotori commented on #492
Thank you for your explanations! I've understood the function of cumprod.

[2022-09-21 05:07] #492 closed

[2022-09-22 01:23] Tomobay commented on #489
@virithavanama

But ultimate goal is to get conversions? If my understanding is correct does channels are not getting conversions in short term but getting conversions in long term.
If that's the case you should try Weibull PDF for adstock.
- For short term channels shape can be c(0.0001, 10).
- For long term channels shape can be c(2.0001, 10)

For more detail https://facebookexperimental.github.

[2022-09-22 18:26] virithavanama opened #500 "channels with long time gaps"
how to handle the scenario when there are different channels but the campaigns for those channels are not run continuously except for 1 and so there are so many 0s.

[2022-09-23 22:08] virithavanama commented on #489
We don't expect awareness channels to directly create conversions, we expect it to impact conversions on other channels

[2022-09-24 04:43] gufengzhou commented on #489
You're talking about many different things. If you expect channels interact with each other, it's usually solved by multiplicative model, which Robyn doesn't offer yet. If you expect some long-term and/or indirect effect, you could try it out using survey based brand equity as intermediate metrics in a two-step model (spend->brand->sales) in Robyn. However, none of these will guarantee the effect.

[2022-09-24 04:57] gufengzhou commented on #491
Thanks for reaching out.

1) it's a very interesting case. The most important thing is that your predictor should reflect the media pressure over time. If it dropped last week just because of discount, while your ad was the same as before, you shouldn't adjust it. You could manually adjust it though afterwards. Maybe it's worth thinking about providing an feature to account for media spend discoun

[2022-09-25 20:08] avraam-inside opened #501 "Abnormal github maintenance format for the R package"
Hi!

I need to install Robyn version 3.0.0.

There are 2 problems:
1) Version `3.0.0` does not swing from the tap via `renv::install('Robyn@3.0.0')`
2) I don't have direct access to github, but there is a package manager from R Studio that does. But, unfortunately, package manager does not eat this non-standard facebookexperimental/Robyn/R path, everyone always behaves normally on github, for exam

[2022-09-26 13:58] laresbernardo commented on #501
Hi @avraam-inside
- I'd strongly recommend you use the latest version of Robyn, given we are constantly adding new features and fixing bugs.
- As you can see [here](https://cran.r-project.org/src/contrib/Archive/Robyn/), the first CRAN version is 3.6.3, and the latest (and second) CRAN version is 3.7.2. That's why you can't install CRAN's 3.0.0.
- We started documenting the [releases](https://gith

[2022-09-26 16:18] laresbernardo commented on #472
[Another user](https://www.facebook.com/groups/robynmmm/posts/1283615065739957/) mentioned this same error in FB group.

[2022-09-27 15:01] F1nalFortune opened #503 "Robyn App - Exporting 1-Pagers"
## Robyn App

## Describe issue
Currently am facing an issue when running the Robyn App with pre-loading the sample data. The error arises when plotting one-pagers into output directory.

[code]

## Environment & Robyn version
Robyn_3.7.3
RobynLearn_1.0.0
R version 4.1.2

[2022-09-27 16:01] laresbernardo commented on #503
Hi! Can you please share what version of `lares` package you have installed? Can you try running `?lares::scale_y_percent` and see if the documentation is available? As you can see [here](https://github.com/facebookexperimental/Robyn/blob/main/R/R/imports.R#L32), the function is imported correctly by `Robyn`. Maybe try refreshing you session and trying again to see if there's some cache issue ther

[2022-09-27 21:53] F1nalFortune commented on #503
After refreshing the session and re-installing Robyn and RobynLearn, I had to first import Robyn and then import RobynLearn, otherwise RobynLearn was loading "dev-3.5.0" and inherently not setting correct iterations per trial.

I ran `?lares::scale_y_percent` and did see the documentation - although I am still receiving same error.

[2022-09-27 21:55] laresbernardo commented on #503
Please, uninstall Robyn 3.5.0 from your machine and try again. You might have an issue with different versions. You should load a newer version for RobynLearn to work correctly (say +3.7.0)

[2022-09-27 22:12] #503 closed

[2022-09-27 22:12] F1nalFortune commented on #503
Thank you very much! Issue resolved after removing version 3.5 from machine.

[2022-10-03 18:56] MKupras opened #504 "error with Robyn"
## Project Robyn
Hi,
this is first time using Robyn(and R really) and I am having issue loading the library. I have installed correct version of R as well as Robyn however when calling for the package I get an error below. I tried installing package called ‘doParallel’ separately but I can't seem to find it. I did reinstall/restart R several times and nothing seems to work.
Please advise

Error: p

[2022-10-03 19:02] laresbernardo commented on #504
Hi @MKupras glad you're trying Robyn out.
Please, install Robyn in a fresh R session with `install.packages("Robyn")`. After that, you'll be able to load Robyn with `library(Robyn)`. When installing a package, R automatically installs all dependencies as well so you shouldn't have these kinds of problems.

[2022-10-03 19:18] MKupras commented on #504
@laresbernardo Thank you for response.
I did try reinstalling my R and installing package however I Keep getting same error over and over.
<img width="573" alt="RStudio-Robyn loading error" src="https://user-images.githubusercontent.com/114950593/193660242-a93564ea-85a4-4945-97d6-b9a2afe2e8e6.png">

[2022-10-03 19:19] laresbernardo commented on #504
Try installing that dependency manually with `install.packages("doParallel")`. Can you share your `sessionInfo()`?

[2022-10-03 19:24] MKupras commented on #504
I did try installing doParallel separately I get message below and still can't load Robyn:

package ‘doParallel’ successfully unpacked and MD5 sums checked
Warning in install.packages :
  cannot delete reparse point 'C:\Users\MKuprava\OneDrive - HorizonMedia\Documents\R\win-library\4.1/doParallel', reason 'There is a mismatch between the tag specified in the request and the tag present in the repa

[2022-10-03 20:07] laresbernardo commented on #504
Try restarting your computer and retrying. It's def a system issue you're getting here.

[2022-10-04 12:55] PetricaR opened #505 "Docker image for Robyn Learn"
Hello Robyn team,

It is possible to have a docker image for Robyn Learn Web Application.

I would like to deploy this docker image on google cloud run.

Thank you

[2022-10-04 17:56] laresbernardo commented on #505
Have you tried deploying with shinyapps.io or a similar service first? Check this [post](https://shiny.rstudio.com/deploy/) about hosting and deploying shiny apps, written by RSTudio. Also, if you happen to build a successful docker file and are willing to share it with the community, please do so via this same ticket :)

[2022-10-04 21:24] openerror opened #506 "robyn_refresh fails to plot refreshed results when plot_folder is specified"
## Project Robyn

## Describe issue
I am trying to refresh a Robyn model persisted to JSON. The (re)training went fine, but R displays an error when trying to save refreshed plots and CSVs to file. Here is the code I ran.

[code]

And here is a screenshot of the error.
![Screen Shot 2022-10-04 at 2 20 50 PM](https://user-images.githubusercontent.com/11012723/193932177-645a6247-c1ff-41c1-a038-0d956

[2022-10-04 22:30] laresbernardo commented on #506
Thanks for reporting this issue and special thanks for sharing a reproducible example; without it would have been pretty hard to debug. That said, I've deployed a fix into the master branch that should take care of this case. Can you please update Robyn to the latest dev version, retry, and let me know if it ran OK?

[2022-10-05 00:33] openerror commented on #506
It fixed the problem: Robyn is now producing all expected output files. Thanks for the quick fix!

[2022-10-05 01:01] openerror opened #507 "Is this expected output from robyn_refresh?"
## Project Robyn

## Describe issue
I refreshed my model once and was looking forward to seeing how per channel ROI has differed. For context, my data are daily, I am adding 14 days of new observations, and `refresh_step = 7` in Robyn.

There are two surprises
1. I am only seeing one refresh that accounts for 7 days of new data. Where are the rest of the data?
2. Even the 7-day update is confined

[2022-10-05 01:02] #506 closed

[2022-10-05 12:35] laresbernardo commented on #507
Hi @openerror
1. It is the expected outcome. If you are using `refresh_step = 7`, it'll refresh 7 steps (days in your case) forward, starting from the end of your modeling window (`window_end`). If the following refresh, if you add additional 7 steps, then you'll have the first and second refresh for the 14 following days.
2. We actually don't "compare" previous with new sections of the time serie

[2022-10-05 12:45] laresbernardo commented on #507
About point 2, you probably mean that `report_decomposition.png` doesn't contain the original model but only the refresh results, I see. Let me take a further look...

[2022-10-05 17:28] openerror commented on #507
Thanks for getting back to me!

I see, so `refresh_step` controls how much new data to use in each refresh. Say I have 14 days of new data in total, and I want to see how successive 7 days of it affects ROIs and trained parameters; then I should set `refresh_step = 7` and call `robyn_refresh` _twice_?

If that's the case, IMO it would be great to make that behavior explicit in documentation --- bo

[2022-10-05 18:32] laresbernardo commented on #507
- No, you can actually set `refresh_step = 14` and all the new 14 periods (days) will be consumed, so no need to run twice.
- Yes, that plot is what you should have (but updated visuals are now available). The issue you actually detected here is that we are not able to reproduce the original + the refresh results for this plot when the plots folder is not following the default chained structure (e

[2022-10-05 18:58] openerror commented on #507
- I am aware that I can set `refresh_step = 14` and use all my new data at once; in the comments above I was discussing a different use case --- where I want to roll forward and ingest only _part of the new data_ at each step.
- Regarding documentation wording. How about adding another sentence at the end of what you quoted? The complete description would look like this

[2022-10-05 20:06] laresbernardo commented on #507
For now, if you follow the standard chained method, you'll be able to generate the right plots, because we can fetch the JSON files correctly. Sharing some screenshots of what you might expect:

Following the path: `~/bernardolares/Desktop/Robyn_202210051427_init/Robyn_202210051450_rf1/Robyn_202210051502_rf2/RobynModel-1_21_14.json`

![report_actual_fitted](https://user-images.githubusercontent.co

[2022-10-11 07:02] FDwangchao commented on #318
这是来自QQ邮箱的假期自动回复邮件。
 
您好，您的邮件我已收到，我稍后会给您回复的~~

[2022-10-11 09:01] qiongji75 commented on #446
Hi Kyle,Thanks for the message. My question is how the MMM Robyn logic to deal with the traffic of new user acquisitions related to organic or unattributed channels. There are a bunch of new acquired users we can't identify which channel the saw the digital advertisements then decide to use our products? Take ios platform as an example, middle of last year, Apple ceased to reveals the channel info

[2022-10-12 14:12] roh-neenopal opened #509 "R2 is too low."
## Project Robyn
r2 is too low. The actual vs predicted is not that bad but still, the R2 value is too low. How is R2 being computed?

Date Range
2020-01-01 to 2021-01-01
Data is at a week level
r2 is -0.48

## Provide reproducible example
![image](https://user-images.githubusercontent.com/90190987/195366313-df99c73a-23a7-486e-b92f-91ecbec6981b.png)

## Environment & Robyn version
Make sure you're

[2022-10-14 13:37] alfonsovc15 opened #510 "[Solved] Error installing "nevergrad" in python: py_install("nevergrad", pip = FALSE)"
## Project Robyn

## Describe issue
I was having trouble executing the following line of code:
`py_install("nevergrad", pip = FALSE)`

## Provide reproducible example
ERROR: Could not build wheels for numpy which use PEP 517 and cannot be installed directly
WARNING: You are using pip version 20.2.3; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/alfonso/.virtua

[2022-10-14 14:19] laresbernardo commented on #510
Thanks a lot for sharing this error + solution @alfonsovc15

Could you please copy/paste the whole error so users can find this thread more easily when they get the same error?

[2022-10-17 06:50] AruunnAnanda opened #511 "Budget allocator - Initial spend and optimised spend are the same"
I'm using Robyn version 3.7.3.

I having issues with Robyn budget allocator for the scenario "max_response_expected_spend". My initial and optimised spend share are the same.

Robyn produced 5 models in the output folder. I ran budget allocator on each one of them and I see that my initial and optimised spend share are the same for 3 out of 5 models.

Is this a bug?

![Screenshot 2022-10-17 at 08

[2022-10-17 13:24] virithavanama opened #512 "Error when running robyn_outputs"
robyn_run converged both NRMSE and RSSD
<img width="531" alt="Screen Shot 2022-10-17 at 9 21 52 AM" src="https://user-images.githubusercontent.com/89505409/196188212-9124a23c-e0b8-4a3c-b188-dbc333b942fe.png">
But when running robyn_outputs getting below error:
<img width="579" alt="image" src="https://user-images.githubusercontent.com/89505409/196188467-bca20c76-e2ea-4b00-b4ab-a74647a61525.png">

[2022-10-17 13:38] laresbernardo commented on #512
Hi @virithavanama can you please share a reproducible example to be able to debug this bug? Also, please share your `sessionInfo()` so I can check your R, OS, and Robyn versions. Thanks.

[2022-10-17 14:07] virithavanama commented on #512
<img width="996" alt="Screen Shot 2022-10-17 at 10 07 11 AM" src="https://user-images.githubusercontent.com/89505409/196198799-f96369fd-adc9-43ad-a8da-f0b3c8b1bcbe.png">

[2022-10-18 16:10] roh-neenopal commented on #509
Also, how exactly is R2 being computed?

[2022-10-18 16:26] laresbernardo commented on #509
Hi @roh-neenopal You can read the code [here](https://github.com/facebookexperimental/Robyn/blob/main/R/R/auxiliary.R#L6-L17) to see how we calculate R2 (on trained data). It depends on how well your data explains your dependent variable which usually depends on your data granularity, quality, and context variables.

[2022-10-20 06:36] andrewvasylyshyn opened #514 "Error: package or namespace load failed for ‘Robyn’: object ‘h2o.import_mojo’ is not exported by 'namespace:h2o'"
## Project Robyn

[Austin4You](https://www.youtube.com/channel/UCDLyu_GVNO5PQCwmRnULFiA)
I am on mac air with apple silicone. I also have Anacodas set up on my laptop.

I installed everything per instructions, everything was working fine. After I removed all objects and restarted the session and wanted to load Robyn library by using the library(Robyn) command, I started getting this error:

Error:

[2022-10-20 13:44] laresbernardo commented on #514
Hi @andrewvasylyshyn
Taken from [here](http://h2o-release.s3.amazonaws.com/h2o/master/1735/docs-website/Ruser/Rinstall.html#download-r-package-directly-from-h2o-ai), can you please try manually installing h2o with the following:
[code]
And then retry loading Robyn in a fresh new session.

[2022-10-20 15:06] joangcc opened #515 "calibration_DT no longer supports daily liftAbs data"
## Project Robyn

## Describe issue
Previous versions of Robyn accepted liftStartDate = liftEndDate. However, last version requires liftStartDate < liftEndDate.

Until now, we were using daily liftAbs data, but given this recently added check, Robyn doesn't run. How can we continue using daily data within the current requirements?

Also, what's the reason behind adding those checks for this partic

[2022-10-20 16:12] joangcc commented on #515
Where to find this check: lines 514 to 523 of checks.R:
`     if (temp$liftStartDate >= temp$liftEndDate) {
        stop(sprintf(
          paste(
            "Your calibration's date range for %s between %s and %s should respect liftStartDate < liftEndDate.",
            "Please, correct this experiment from 'calibration_input'."
          ),
          temp$channel, temp$liftStartDate, temp$liftE

[2022-10-20 16:16] laresbernardo commented on #515
Hi @joangcc. We did add this check a while ago but you're right, I'll change that check to let users set liftStartDate >= liftEndDate. Actually you replied before I hit enter to this haha so expect this change in the next couple of minutes in our latest dev version

[2022-10-20 16:18] laresbernardo commented on #515
There you go. Please, update to the latest dev version and you'll be good to go. Thanks for the feedback. Feel free to close this ticket once you test and use it.

[2022-10-20 18:50] joangcc commented on #515
Thanks for fixing this so fast. It works now!

[2022-10-20 18:50] #515 closed

[2022-10-21 00:25] andrewvasylyshyn commented on #514
Thanks @laresbernardo , I just tried it and for some reason it failed.

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/75985108/197083632-e2a81576-1087-44df-9ed3-59fe9d2031da.png">

Then I tried to download from CRANm, and it failed again.

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/75985108/197083741-6d54a351-2f99-4109-9d34-1a5e5257e

[2022-10-21 14:21] laresbernardo commented on #514
Ok it seems you might have a slow or unstable internet connection. Try extending the timeout to 500 seconds with `options(timeout = 500)` and retrying.

[2022-10-21 16:16] jsabastian commented on #472
@laresbernardo If it is any help at all,  I'm receiving this error using weekly data, either prophet holidays or a custom holiday set, and weibull_pdf. It does not occur when I use geometric adstock parameters.

[2022-10-21 17:54] andrewvasylyshyn commented on #514
@laresbernardo it looks like it actually worked!!!
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/75985108/197258795-1d9c6724-e0cf-4c63-af2b-73ec89c74fd9.png">

[2022-10-21 18:03] laresbernardo commented on #514
There you go!! Glad it worked :)

[2022-10-21 19:18] loeuf-quatre commented on #472
Also receiving this error regardless of adstock specification

[2022-10-22 11:11] DECR-JARM opened #516 "Jarmroma"
Jarm

[2022-10-22 11:13] DECR-JARM opened #517 "ROBYN"
https://github.com/facebookexperimental/Robyn/tree/app

[2022-10-24 16:01] #517 closed

[2022-10-24 16:03] #516 closed

[2022-10-25 16:54] DioneyC opened #518 "Doubts about computing inflexion point of S-Curve"
## Project Robyn

## Describe issue
Can somebody tell me what is the way that Robyn compute the inflexion point of the saturation curve and in what part of the code I can find it?

Thanks.

[2022-10-26 12:30] gufengzhou commented on #518
https://github.com/facebookexperimental/Robyn/blob/main/R/R/transformation.R#L152

[2022-10-27 07:11] Johannes96 commented on #509
I have a similar issue. The R2 is too high, always above 1. I'm using monthly data from 01.10.2021 to 01.10.2022, 12 months in total. Maybe the issue lies with the time range, which is in both our cases one year?

[2022-10-27 09:35] gufengzhou commented on #509
time range shouldn't be the reason. we would need reproducible data to debug this. if any of you can send us a table with the two columns actual vs predicted, as well as the number of independent variables you're using, we can debug this.

[2022-10-27 09:55] Johannes96 commented on #509
That would be nice. I can provide you the data. Where can I find the predictions? Are they somewhere in OutputCollect?

[2022-10-28 06:23] DpfStat opened #519 "robyn_outputs() with error 'Can't combine `..1$ds` <date> and `..2$ds` <IDate>'"
## Project Robyn

## Describe issue
when I ran robyn_outputs() in the demo file, the error showed up:
<img width="667" alt="Screenshot 2022-10-27 at 11 08 16 PM" src="https://user-images.githubusercontent.com/57167189/198516836-becb0b71-e53c-4f9c-9b3d-c0952a2f93c8.png">
After trace back it seems like the problem happened here:

<img width="865" alt="Screenshot 2022-10-27 at 11 09 03 PM" src="https

[2022-10-28 09:18] ekenheim commented on #317
Having the same error message currently - fresh install of R (all packages updated)

[2022-10-28 10:12] gufengzhou commented on #317
We just had a new release V3.8.0. Please try it out!

[2022-10-28 11:53] gufengzhou commented on #519
There's a new release v3.8.0 just now. This issue should be fixed. Can you update your package and retry please

[2022-10-28 11:53] #514 closed

[2022-10-28 11:55] gufengzhou commented on #512
There's a new release v3.8.0 just now. We're not seeing this error.  Can you update your package and retry please

[2022-10-28 11:57] gufengzhou commented on #511
This is strange. Could it be that the coefficients are very small/ close to 0 for these models that are not allocating?

[2022-10-28 12:04] #507 closed

[2022-10-28 12:05] #501 closed

[2022-10-28 12:09] gufengzhou commented on #500
many 0s mean little variation in this variable, which is bad for any models. When you're not spending much on one channel, you also can't expect much response. I'd recommend to meaningfully combine sparse variables

[2022-10-28 12:10] #491 closed

[2022-10-28 12:11] #490 closed

[2022-10-28 12:11] gufengzhou commented on #489
Please reopen if this issue reoccurs.

[2022-10-28 12:12] #489 closed

[2022-10-28 12:12] gufengzhou commented on #487
Please reopen if this issue reoccurs.

[2022-10-28 12:12] #487 closed

[2022-10-28 12:13] #485 closed

[2022-10-28 12:13] gufengzhou commented on #484
Please reopen if this issue reoccurs.

[2022-10-28 12:13] #484 closed

[2022-10-28 12:14] #482 closed

[2022-10-28 12:14] gufengzhou commented on #477
Please reopen if this issue reoccurs.

[2022-10-28 12:14] #477 closed

[2022-10-28 12:15] gufengzhou commented on #475
Please reopen if this issue reoccurs.

[2022-10-28 12:15] #475 closed

[2022-10-28 12:15] gufengzhou commented on #473
Please reopen if this issue reoccurs.

[2022-10-28 12:15] #473 closed

[2022-10-28 12:16] gufengzhou commented on #469
Please reopen if this issue reoccurs.

[2022-10-28 12:16] #469 closed

[2022-10-28 12:17] gufengzhou commented on #466
Please reopen if this issue reoccurs.

[2022-10-28 12:17] #466 closed

[2022-10-28 12:18] gufengzhou commented on #465
Please reopen if this issue reoccurs.

[2022-10-28 12:18] #465 closed

[2022-10-28 12:18] gufengzhou commented on #461
Please reopen if this issue reoccurs.

[2022-10-28 12:18] #461 closed

[2022-10-28 12:19] gufengzhou commented on #454
Please reopen if this issue reoccurs.

[2022-10-28 12:19] #454 closed

[2022-10-28 12:20] gufengzhou commented on #341
Please reopen if this issue reoccurs.

[2022-10-28 12:20] #341 closed

[2022-10-28 12:21] gufengzhou commented on #339
Please reopen if this issue reoccurs.

[2022-10-28 12:22] gufengzhou commented on #376
Please reopen if this issue reoccurs.

[2022-10-28 12:22] #376 closed

[2022-10-28 12:24] gufengzhou commented on #429
Please reopen if this issue reoccurs.

[2022-10-28 12:24] #436 closed

[2022-10-28 12:25] gufengzhou commented on #442
Please reopen if this issue reoccurs.

[2022-10-28 12:25] #442 closed

[2022-10-28 12:26] gufengzhou commented on #486
Please reopen if this issue reoccurs.

[2022-10-28 12:26] #486 closed

[2022-10-28 13:11] michaelwexler commented on #500
Hmm... that's correct from a modeling pov, but doesn't reflect the reality of marketing.  There can be annual sponsorships or other event based marketing; there can be publisher constraints preventing spend, etc.

@gufengzhou, it sounds like you are assuming that sporadic spend means low spend.  That's not true in all cases; I may spend a gazillion dollars on a single-event sponsorship once every

[2022-10-28 13:33] virithavanama opened #520 "New upgrade to 3.8 giving error in robyn_inputs"
Hi Team,

I have upgraded to the new Robyn 3.8 version and getting the below error:
<img width="498" alt="Screen Shot 2022-10-28 at 9 30 11 AM" src="https://user-images.githubusercontent.com/89505409/198613393-31466897-8f24-4b27-9ba4-c016accd610d.png">

[2022-10-28 15:12] laresbernardo commented on #520
Thanks for reporting this bug @virithavanama I've updated main branch, can you please update and re-try?

[2022-10-28 15:28] virithavanama commented on #520
Thanks, @laresbernardo for the prompt fix :)
Now I get a new issue when running robyn_run:
<img width="733" alt="Screen Shot 2022-10-28 at 11 26 56 AM" src="https://user-images.githubusercontent.com/89505409/198675263-bd195897-f4ad-453d-bd50-b85d5884e3e6.png">

[2022-10-28 15:31] laresbernardo commented on #520
Can you please share a reproducible example as I can't seem to be able to reproduce this one?

[2022-10-28 23:16] DpfStat commented on #519
After update to the Robyn 3.8.0 with remotes::install_github("facebookexperimental/Robyn/R"), the new problem showed up:
<img width="679" alt="Screenshot 2022-10-28 at 4 08 34 PM" src="https://user-images.githubusercontent.com/57167189/198749146-38774b3b-b5ed-446e-9db3-ad54debf78b6.png">
I have check the previous issue and found that holiday variable is 0:
<img width="1093" alt="Screenshot 2022-10

[2022-10-29 10:10] gufengzhou commented on #519
I've just pushed a fix. Should work now. Please confirm, thanks!

[2022-10-29 11:16] gufengzhou commented on #509
@Johannes96 Yes, in OutputCollect$xDecompVecCollect, dep_var is the true value, depVarHat is the predicted value. We also need the number of your independent variables as well as if intercept is included or not.

@michellegrushkometa  FYI

[2022-10-29 11:25] gufengzhou commented on #500
Yes you're right about events like superbowls etc, which is the reality. Still this presents a challenge for MMM, because of only 1 datapoint.

First of all, the adstocking transformation will spread out the value a bit, so definitely try the data as is and see if it works. If the decomp is not satisfying / too low, you might want to be creative, for example use other proxy metrics to approximate

[2022-10-30 01:59] DpfStat commented on #519
The problem all solved after install new version. Thank you!

[2022-11-01 04:28] AruunnAnanda commented on #511
Hi @gufengzhou,

Sure, will update my package and keep you posted.

Thanks!

[2022-11-01 05:32] DpfStat commented on #520
Same issue with 3.8.0 for running robyn_run. If use the same data set with 3.7.2, no error.

[2022-11-01 08:27] firatfrkn commented on #520
The same issue I am having
![Screenshot 2022-11-01 112633](https://user-images.githubusercontent.com/96492785/199190939-c7daca5c-2b36-45be-96a3-ab682d418513.png)

[2022-11-01 08:32] gufengzhou commented on #520
We can't reproduce the same error. Could you please share an anonymised dataset for us to debug. thanks

[2022-11-01 12:58] firatfrkn commented on #520
Thank you so much. Could you please tell me briefly where was the bug. I’ve
been trying to solve as well. Is that because
 nrmse.collect<- unlist(laplly(doparcollect,function(x) x$nrmse))

?

Вт, 1 нояб. 2022 г. в 3:54 PM, gufengzhou ***@***.***>:

[2022-11-01 13:15] firatfrkn commented on #520
thanks a lot. It works for me now

[2022-11-01 13:22] gufengzhou commented on #520
cool thanks for confirming. you can check the fix detail in the commit [here](https://github.com/facebookexperimental/Robyn/commit/4f81ffc70da029fd75b9de61a64d4b0d571ff458)

[2022-11-01 13:42] jaspertambini opened #522 "Hyperparameters not allowing metrics other than spend"
## Project Robyn

## Describe issue
Using either my own data or the given example Facebook data, this error now appears when I run InputCollect. The only way I avoid it is replacing Cost in Paid_Media_Spends with Impressions or Clicks. Could someone shed some light on the issue?
Thanks

## Provide reproducible example
![image](https://user-images.githubusercontent.com/114992329/199245905-5f1f8337-

[2022-11-01 13:57] AruunnAnanda commented on #520
@gufengzhou I still have the same problem after updating to v3.8.1. To update I ran the command - Robyn::robyn_update()
![image](https://user-images.githubusercontent.com/107944288/199250454-d56ef9d0-7021-48bc-ac38-f8a2fe83388b.png)

[2022-11-01 14:20] gufengzhou commented on #520
strange. have you checked `packageVersion("Robyn")` that's v3.8.1 and restarted the R session?

[2022-11-01 14:23] AruunnAnanda commented on #520
@gufengzhou Yes, I did.

This time the error is - **Error in {: task 1 failed - "non-numeric argument to binary operator"**

This error is different than the last time. I'm attaching the last time error here.
![image](https://user-images.githubusercontent.com/107944288/199256130-6024bcda-2d0b-404f-88a6-66213499946a.png)

[2022-11-01 14:24] gufengzhou commented on #522
Please check this thread that's a similar question https://www.facebook.com/groups/robynmmm/posts/1234713643963433/

[2022-11-01 14:26] gufengzhou commented on #520
Please provide your dataset anonymised and your model specification in robyn_inputs() for debugging. you can send it to gufeng@meta.com

[2022-11-02 00:19] andrewvasylyshyn opened #523 "Error: vector memory exhausted (limit reached?) when Running Pareto calculations for 10000 models on auto fronts..."
## Environment & Robyn version
 Robyn version:  ‘3.8.1’
R version 4.2.1 (2022-06-23)
Platform: aarch64-apple-darwin20 (64-bit)
Running under: macOS Monterey 12.5.1

Issue
I have a daily data set that I ran the model on. after 5 trials, I discovered there were no data in the folder where it was supposed to be. I also get this error Error: vector memory exhausted (limit reached?)`

Here's some code:

[2022-11-02 00:31] gufengzhou commented on #523
Have you checked this? https://stackoverflow.com/questions/51295402/r-on-macos-error-vector-memory-exhausted-limit-reached

[2022-11-02 01:40] andrewvasylyshyn commented on #523
I restarted the R and re-ran it with 2 trials and it worked.

[2022-11-02 01:40] #523 closed

[2022-11-02 05:11] gufengzhou commented on #520
Hey @AruunnAnanda , I managed to reproduce your error and just pushed a fix. Could you please update and retest. thanks

[2022-11-02 08:07] AruunnAnanda commented on #520
Hey @gufengzhou, I unfortunately still have the same error.

If I don't use calibration as an input the model **"RUNS FINE"**.

If I use start using calibration as an input the model **throws an error**

[2022-11-02 10:02] gufengzhou commented on #520
ok that's an important information missing that you used calibration. I'll check and get back.

[2022-11-02 12:40] gufengzhou commented on #520
@AruunnAnanda Please update and check

[2022-11-02 17:32] AruunnAnanda commented on #520
@gufengzhou I still have the same issue :(

I sent you the anonymised data via email to replicate and debug.

[2022-11-03 03:48] yanhong-zhao-ef opened #524 "Reading/recreating calibrated models fails in v3.7.1, v3.7.2 and v3.8.1"
## Project Robyn

## Describe issue
Once calibration step is added to the modeling process, I can't recreate any of the models from that run. The error message it this from the reproducible example I have included for the latest version. It is taken from demo.R and simply uncommented the calibration code.
[code]
I have run into the similar issue with my own dataset where it will complain "Error wh

[2022-11-03 04:28] yanhong-zhao-ef commented on #524
Just tried running on my own data with the updated v3.8.1 code with calibration and here is the error reported: the warning "Error while running robyn_mmm(); providing PARTIAL results" doesn't really help when debugging for error.

[code]

Running the same data without calibration works without a hitch

[2022-11-03 04:42] gufengzhou commented on #524
Hey, very sorry about this bug that is also reported by another user #520. I just pushed another fix. Could you please update and test? thanks!

[2022-11-03 04:48] yanhong-zhao-ef commented on #524
Is this fix on the main branch? Is it the one from an hour ago?

[2022-11-03 05:11] yanhong-zhao-ef commented on #524
Updated the code and tried it out. The problem still exist.

I read through the other issue and my 2nd comment above is the same as the latest on that issue.

The first comment (original comment I opened the issue with) is likely different and you can use the script I provided to reproduce the bug.

[2022-11-03 05:12] gufengzhou commented on #524
yes, and that's to fix the bug. because of the new calibration function, we require one more column, calibration_scope, in the calibration_input table. please check [here](https://github.com/facebookexperimental/Robyn/blob/main/demo/demo.R#L263). If you're using experiments to calibrate, just put "immediate" in it.

[2022-11-03 05:13] yanhong-zhao-ef commented on #524
Can confirm that in both the script I provided and my own script that column exists and the bugs are there

[2022-11-03 05:23] gufengzhou commented on #524
ok, to clarify: after updating and restarting R, you still have the `robyn_run` bug? I'm using your `robyn_debug.txt` and the robyn_run function works well with calibration.
regarding the `robyn_recreate` bug, I'll look into it.

[2022-11-03 07:54] yanhong-zhao-ef commented on #524
Sorry for the confusion! I really should have opened two separate issues. The original bug reported is for `robyn_recreate` and iyou can run it with the `robyn_debug.txt`. I found this bug while trying to replicate the `robyn_run` bug in my own dataset rather than the simulated dataset. For my own dataset, `robyn_run` bug still exists when I tried running it with the latest code.

Does this make i

[2022-11-03 08:11] yanhong-zhao-ef commented on #524
for `robyn_recreate` I did some digging around and found the culprit:

The error is from this line here https://github.com/facebookexperimental/Robyn/blob/main/R/R/outputs.R#L113 where `pareto_results$resultCalibration` is missing a column 'solID'. The current columns are:
[code]

[2022-11-03 09:01] yanhong-zhao-ef commented on #524
I am running line by line for the 'robyn_run' bug as well and will report back the result tomorrow when I get to it!

[2022-11-03 09:16] gufengzhou commented on #524
Thanks. I can reproduce the error now and will update asap

[2022-11-03 14:30] Johannes96 commented on #509
Here you go:

   dep_var depVarHat
     <int>     <dbl>
 1   32466    31117.
 2   32883    33051.
 3   27267    27871.
 4   28369    28374.
 5   26034    25646.
 6   29026    28614.
 7   23187    24232.
 8   24380    23335.
 9    6833    10251.
10    1423     6390.
11    9939    12965.
12   33038    22999.

Number of independent variables: 11 (including intercept)

[2022-11-03 21:34] openerror opened #525 "Is it possible to manually add additional modes of seasonaltiy?"
## Project Robyn

## Describe issue
Prophet has the capability to model custom seasonalities; for example monthly is not available by default but it can be [added](http://facebook.github.io/prophet/docs/seasonality,_holiday_effects,_and_regressors.html#specifying-custom-seasonalities) using the R function `add_seasonality`.

I notice that `robyn_inputs` is supposed to take additional arguments tha

[2022-11-03 22:00] sr2naik opened #526 "InputCollect error with Robyn version upgrade- 'unexpected symbol'"
## Project Robyn

Upgraded Robyn version to 3.7.2 and am running into the following error with my own data as well as when trying the demo:

Error in `select()`:
! <text>:1:5: unexpected symbol
1: Use of
        ^
Run `rlang::last_error()` to see where the error occurred.

**<simpleError in select(dt_transform, .data$ds, .data$dep_var): <text>:1:5: unexpected symbol**
1: Use of
        ^>

**To no

[2022-11-04 08:14] gufengzhou commented on #520
thanks for the data. I've just pushed another fix and it runs on my macbook. please update and try

[2022-11-04 08:15] gufengzhou commented on #524
I've just pushed another fix and it runs on my macbook. please update and try

[2022-11-04 09:27] gufengzhou commented on #525
Thanks for reporting this. It can't be simply added as a custom unnamed argument, because it's not an argument but an extra function. We'll consider adding this.

[2022-11-04 09:32] gufengzhou commented on #526
Hi, We haven't seen this error so far. please ensure to update all dependencies firstly. I assume you're using the CRAN version of Robyn. If issue still exist, please also try the dev version by `remotes::install_github("facebookexperimental/Robyn/R")`

[2022-11-04 10:27] ksorger opened #527 "Error while running robyn_mmm(); providing PARTIAL results"
## Project Robyn

## Describe issue
Am getting an error when executing the model using the demo_data:

1. taken hyperparam list from demo file
2. running InputCollect function: InputCollect <- robyn_inputs(InputCollect = InputCollect, hyperparameters = hyperparameters)

<img width="463" alt="Screenshot 2022-11-04 at 11 25 26" src="https://user-images.githubusercontent.com/80044633/199950744-772d80

[2022-11-04 11:06] gufengzhou commented on #527
This should be already fixed. See #520 and #524. Please update and try.

[2022-11-04 13:15] firatfrkn opened #528 "<error/dplyr:::mutate_error>"
https://github.com/facebookexperimental/Robyn/issues/512#issuecomment-1303630158

[2022-11-04 14:23] firatfrkn commented on #512
I have received this error after the very recent update on output functions. I was able to run Robyn without any errors on the same dataset before the update.
![Screenshot 2022-11-04 161351](https://user-images.githubusercontent.com/96492785/199998432-9fe02a11-2aa3-423b-8784-4b0ce122e50d.png)

[2022-11-04 14:26] firatfrkn commented on #528
https://github.com/facebookexperimental/Robyn/issues/512#issuecomment-1303630158

[2022-11-04 14:29] gufengzhou commented on #512
Hi, I can't reproduce your error. Although I found a small mistake that I forgot to update robyn_outputs's package documentation. I've used both the dummy dataset as well as the anonymised data from you. Both ran successfully with robyn_outputs. Can you please update (including dependencies) and retry?

[2022-11-04 14:35] ksorger commented on #527
getting.a new error now:

<img width="669" alt="Screenshot 2022-11-04 at 15 34 35" src="https://user-images.githubusercontent.com/80044633/200001112-dbf99d90-29b3-4017-87ae-97b1a8cd790d.png">

[2022-11-04 14:42] gufengzhou commented on #527
Hi, would you please update to latest including dependencies, restart R and retry?

This error with "lower" in nevergrad was very old. strange that you're getting it now. I can't reproduce this currently

[2022-11-04 14:48] gufengzhou commented on #519
fixed in f6446e4f4b4e4038b2ffe2ffa47f95bb3c00a0e9

[2022-11-04 14:48] #519 closed

[2022-11-04 14:55] firatfrkn commented on #512
Hello @gufengzhou I have tried and got the same error. I have sent the anonymized data that I am getting error from via email. (The one I have sent you was for another error). Many thanks.

[2022-11-04 15:09] gufengzhou commented on #512
thanks for sharing the data. I've just tried it out with the similar `robyn_inputs()` specification as your previous set and got no error. You've modified some functions right? Have you also updated your function with the latest changes?
<img width="950" alt="image" src="https://user-images.githubusercontent.com/14415136/200008996-d0da5f6f-d5c8-43bc-bba5-9a90693b9332.png">

[2022-11-04 15:13] virithavanama commented on #520
Thanks for the bug fixes. robyn_inputs issue is fixed for me too! But now having an issue with robyn_outputs:
<img width="724" alt="image" src="https://user-images.githubusercontent.com/89505409/200009849-6865c3a4-7ff5-4429-bfe9-b4c9f827790a.png">

[2022-11-04 15:16] gufengzhou commented on #520
there's been some fixes since then. can you update the package incl. dependencies, restart R and retry please?

[2022-11-04 15:47] firatfrkn commented on #512
Hello! Yes I have updated all the functions. With the new update on the checks, I have started to receive this error.
![Screenshot 2022-11-04 184516](https://user-images.githubusercontent.com/96492785/200018096-7d2eb2b0-98c6-4197-b344-c869bd5134df.png)

[2022-11-04 15:51] gufengzhou commented on #512
looks like you somehow haven't loaded the robyn_response function. make sure you restart the R session / or just try restart RStudio. sometimes it helps...

[2022-11-04 16:00] firatfrkn commented on #512
Yes, I figured it out. Right now it is working. Many thanks. The mutate error seems to be solved as well. I will be testing with different datasets.

[2022-11-04 16:14] gufengzhou commented on #528
pls follow #512

[2022-11-04 16:14] #528 closed

[2022-11-05 17:50] firatfrkn commented on #512
Hi I have noticed a strange situation. Outputmodels run when it is only 1 trial with 500 iterations with the  anonymized data I have sent you @gufengzhou. However, it gives an error with 5 trials 6000 iterations. (I have updated all the functions including yesterday's update. I was able to run before with 5 trials 6000 iterations on this data)
![Screenshot 2022-11-05 201819](https://user-images.gi

[2022-11-06 09:51] gufengzhou commented on #512
I just tried 5 trials * 250 iters and didnt see any error. Does this error show up everytime you run more than 1 trial? Can you run `Robyn:::errors_scores(OutputModels$trial1$resultCollect$resultHypParam)` for all trials to see if any of them throws error? I'm suspecting that there might be an NA in decomp.rssd that causes error in `Robyn:::errors_scores`

[2022-11-06 11:12] firatfrkn commented on #512
Hi! 5 trials * 250 iters threw an error for me.

![Screenshot 2022-11-06 140939](https://user-images.githubusercontent.com/96492785/200167332-cdcfde01-f5de-4942-9250-a517b03ec87c.png)

Robyn:::errors_scores
![Screenshot 2022-11-06 141107](https://user-images.githubusercontent.com/96492785/200167342-bea8c4df-7d80-4875-8bfd-14d04dd3763b.png)

[2022-11-06 11:15] firatfrkn commented on #512
![Screenshot 2022-11-06 141426](https://user-images.githubusercontent.com/96492785/200167466-3a63f6b8-c34e-4c03-9990-be93dc924332.png)
![Screenshot 2022-11-06 141456](https://user-images.githubusercontent.com/96492785/200167468-555b6a78-916f-4263-91dd-f3a43240b6ec.png)
![Screenshot 2022-11-06 141524](https://user-images.githubusercontent.com/96492785/200167470-37bbd4cb-d5b8-466a-86f6-242380dd448b.

[2022-11-06 12:00] firatfrkn commented on #512
Hi! @gufengzhou. I have tried with 1 trial  * 6000 iters. Apparently, my error is due to number of trials not the iterations.

[2022-11-07 02:42] gufengzhou commented on #512
I can't reproduce your error unfortunately. I notice that all your Robyn functions are in global env, probably because you're doing changes locally, right? I'm not sure if this would cause issue, because there might be same variables names in both local and global env. When you're "unpacking" the package, they might get mixed up.

You're doing the changes because of Windows, right? Actually our pa

[2022-11-07 07:20] firatfrkn commented on #512
Hi @gufengzhou! Thanks for the feedback. I getting closer to the cause of the problem. The anonymized data that I have sent you includes 2 categorical vars. Campaign1 and Campaign2 which I am passing to the input function as
context_vars = c("Campaign1", "Campaign2"),
 ,factor_vars = c("Campaign1", "Campaign2")

I have just run without those categorical vars, 5 trials  * 250 iters and it successfu

[2022-11-07 08:24] gufengzhou commented on #512
Thank you very much for reporting this. I could reproduce the error now. I was already suspecting the `Inf` in your error_scores, which is really the cause. Because of the` .min_max_norm()` within the `error_scores` function, the `Inf` will be removed and hence the error of different vector lengths in a dataframe. I've now just replaced the Inf with the finite max. Now it works on my side. Please

[2022-11-07 08:48] firatfrkn commented on #512
Now, it works on my side as well. Thanks for your time and effort.

[2022-11-07 09:34] #512 closed

[2022-11-07 09:57] ksorger commented on #527
Hi, this worked. Thanks!

[2022-11-07 10:35] yanhong-zhao-ef commented on #524
Thank you @gufengzhou the debug file now runs without a hitch. Let me run on my own data and report back

[2022-11-07 10:43] yanhong-zhao-ef commented on #524
There is still an error when running my own data with calibration - I suggest we close this issue and I will open a new one to track that bug.

[2022-11-07 11:21] #527 closed

[2022-11-07 12:34] yanhong-zhao-ef opened #529 "robyn_calibrate non-numeric argument to binary operator error"
## Project Robyn

## Describe issue
This is the error that triggers a mysterious error stack-trace on my own dataset:
[code]
After some digging via running the code line by line I have located the line throwing the error in robyn_calibrate:
[code]
The error seems to come from the fact that df_raw's date column can be still in string format rather than in date format:
`ds_wind <- df_raw$ds[wind_sta

[2022-11-07 12:38] yanhong-zhao-ef commented on #529
Can confirm that by changing the date column on the original data to date format fixes the bug seen during training. Will report back if there is any bug encountered in recreating the models after saving the json files.

[2022-11-07 15:53] gufengzhou commented on #529
Thanks for reporting this. I could reproduce this error. I've added a one-liner to always auto-format the date_var with as.Date.  Please update & check

[2022-11-08 09:57] yanhong-zhao-ef commented on #529
Yeah can confirm that bug is fixed! Thank you @gufengzhou

[2022-11-08 11:27] #529 closed

[2022-11-08 11:28] #524 closed

[2022-11-08 11:29] gufengzhou commented on #520
This should be fixed with the latest commits. Please update and check

[2022-11-08 16:37] gufengzhou commented on #509
@roh-neenopal After checking the RSQ function in excel, it appears to return NOT adjusted R2. As described in the commend above, adjusted R squared can become negative when n and p are very close. How many variables do you have in the model? In general, Robyn's optimisation process isn't affected because it uses the error NRMSE and thus is not impacted by the rsq calculation

[2022-11-10 16:05] Aanai opened #531 "Error in `dplyr::bind_rows()`:"
Data file to replicate error: https://easyupload.io/q0h368

Hello everyone,

I get the following error when I try to add  hyperparameters into robyn_inputs()
[code]

This is my code:
[code]

packageVersion("Robyn")
[1] ‘3.7.2’

[2022-11-10 20:02] laresbernardo commented on #531
Hi @Aanai thanks for sharing and reporting. It seems it's this same [issue](https://github.com/facebookexperimental/Robyn/issues/472) you are experiencing. Can you please update Robyn to latest dev version (3.8.1) and re-try? I wouldn't expect it to be fixed yet though given it's a prophet library issue when using daily granularity. Please follow up the updates in [this ticket](https://github.com/

[2022-11-11 08:53] jaspertambini opened #532 "Robyn Learn App not working"
## Project Robyn

## Describe issue
Hi,

Whenever I add my own data to the app, I click "Finalize Variable Assignment" and get the following error with nothing loading:

![image](https://user-images.githubusercontent.com/114992329/201302941-66672469-14ef-4d63-af12-4c851497e6f4.png)

Could someone please assist? The data is all in correct format as far as I am aware.

[2022-11-11 09:11] #522 closed

[2022-11-11 09:11] jaspertambini commented on #522
Thanks!

[2022-11-11 14:35] laresbernardo commented on #532
Hi @jaspertambini I've just deployed a fix to this issue. Can you please update RobynLearn and retry? Thanks.

[2022-11-11 15:54] jaspertambini commented on #532
hey @laresbernardo, thanks for the quick response, it now seems to have an issue with the package and version of R (tried 4.05, 4.1.2, 4.2.2) is there a different one I should be using?

[2022-11-11 16:40] laresbernardo commented on #532
So did you update the package with `remotes::install_github("facebookexperimental/Robyn/app")`, restarted RStudio and tried loading it with `library(RobynLearn)` and get that error? I think you're trying to update CRAN version (and we don't have RobynLearn in CRAN yet).

[2022-11-11 16:52] jaspertambini commented on #532
ah yes sorry my mistake, although still seem to be getting the first error again

[2022-11-11 16:53] laresbernardo commented on #532
Can you share you anonymized data so I can replicate this case and help be debug?

[2022-11-11 16:54] jaspertambini commented on #532
if it helps I am on R 4.2.2 and Robyn 3.8.1

[2022-11-11 17:05] jaspertambini commented on #532
[test_mmm.csv](https://github.com/facebookexperimental/Robyn/files/9992177/test_mmm.csv)

[2022-11-11 17:05] jaspertambini commented on #532
sure, here's my example

[2022-11-11 18:05] laresbernardo commented on #532
Hi @jaspertambini I was able to replicate your issue. Can you please update RobynLearn and retry?

[2022-11-12 05:46] Aanai commented on #531
Thanks. But I get the same error with Robyn 3.8.1.

[2022-11-14 10:30] quimk opened #533 "[Solved] Robyn App hyperparameters input error"
## Project Robyn

## Issue
When initializing the Shiny App with data from initial page button (different dataset from demo data), in Model Tuning after defining all hyperparameter, the UI throws an error that number of parameters doesn't match with expected number of hyperparameters (for geometric adstock).

## Solution

I changed two lines of code to define how to store hyperparameters for geomet

[2022-11-14 10:31] jaspertambini commented on #532
Nice one thanks, all working now :)

[2022-11-14 10:50] jaspertambini commented on #532
Sorry was a little hasty to close, have a few errors following this so keeping it under the same issue. Now facing a problem with my holidays when computing
![image](https://user-images.githubusercontent.com/114992329/201641797-c4e9b436-74f4-4154-8eff-2837c1d27548.png)

[2022-11-14 10:51] jaspertambini commented on #532
[dt_prophet_holidays.csv](https://github.com/facebookexperimental/Robyn/files/10002207/dt_prophet_holidays.csv)

[2022-11-14 10:53] jaspertambini commented on #532
Also is it possible to include events when running the explanatory data analysis? Throws an error when I include them but would be very useful as our data is very heteroskedastic due to the high effect of these events

[2022-11-14 14:59] cynthia10wang opened #534 "Error in summary.connection(connection) : invalid connection"
## Project Robyn

I'm getting this error when running robyn_outputs step.

Error in summary.connection(connection) : invalid connection

My dataset has about 300 rows and 40 variables, and I'm running on 2000 iterations * 5 trials. When I was on old 3.6x version of Robyn everything is perfectly fine. I looked at previous issues and tried manually changing cores to be 1 or 7 (as max is 8) but it st

[2022-11-14 17:29] NN-Marketing commented on #480
Hi

Robyn Version 3.7.2
R version 4.2.2
Robyn Demo.R

Im' geting the same issue with different code..date and IDate..

Error in `bind_rows()`:
! Can't combine `..1$ds` <date> and `..2$ds` <IDate>.
Run `rlang::last_error()` to see where the error occurred.

<error/vctrs_error_ptype2>
Error in `bind_rows()`:
! Can't combine `..1$ds` <date> and `..2$ds` <IDate>.
---
Backtrace:
 1. Robyn::robyn_output

[2022-11-14 20:58] laresbernardo commented on #480
Hi @NN-Marketing this issue has already been fixed in the latest dev version. Can you please update to Robyn >=3.8.1 and try again in a fresh new session? Thanks.

[2022-11-14 21:04] laresbernardo commented on #533
Thanks @quimk Fix has been added to latest version 🙏

[2022-11-15 07:18] gufengzhou commented on #534
Can you please share your sessionInfo()$R.version? Also, can you try installing this commit version using `remotes::install_github("facebookexperimental/Robyn/R", ref="80dbaa0018422bde2a65826398eeea364ed28d33”)`, then restart, reload the lib and retry to see if the error still occurs?

[2022-11-15 17:54] cynthia10wang commented on #534
$platform
[1] "x86_64-w64-mingw32"

$arch
[1] "x86_64"

$os
[1] "mingw32"

$crt
[1] "ucrt"

$system
[1] "x86_64, mingw32"

$status
[1] ""

$major
[1] "4"

$minor
[1] "2.2"

$year
[1] "2022"

$month
[1] "10"

$day
[1] "31"

$`svn rev`
[1] "83211"

$language
[1] "R"

$version.string
[1] "R version 4.2.2 (2022-10-31 ucrt)"

$nickname
[1] "Innocent and Trusting"

btw I cant install the commit version

[2022-11-15 19:30] Alopes-data commented on #534
I was having a similar issue earlier today.
I ran the code successfully a few times this morning but sometime mid-day I started having the same connection error at the same point when I switched from Geometric to Weibull-PDF adstock. After the inital error I still had the connection error code occur even when I switched back to the Geometric models.

I restarted my R session and ran the code provi

[2022-11-15 19:49] laresbernardo commented on #534
That's really useful information @Alopes-data
Just checked and plyr package was updated to 1.8.8 (in [CRAN](https://cran.r-project.org/web/packages/plyr/index.html)) a couple of days ago (2022-11-11). What's weird is that plyr [changelog](https://cran.r-project.org/web/packages/plyr/news/news.html) shows only check fixes, no new feature, bugs, or change of default behaviors since almost 7 years ag

[2022-11-16 06:20] gufengzhou commented on #533
Please reopen if the issue reoccurs.

[2022-11-16 06:59] gufengzhou commented on #531
Thanks for sharing the dataset. I could successfully run your code and obtain all output without errors. I can't reproduce your error. have you also updated all dependencies when updating Robyn v3.8.1?

[2022-11-16 14:58] miaox018 commented on #531
Following since I'm having the same issue.

[2022-11-16 19:34] miaox018 opened #536 "New upgrade to 3.8 gave error to robyn_outputs()"
Hi team,

I recently upgraded the package to 3.8.1 version and gets this error at robyn_outputs() step.

Running Pareto calculations for 40000 models on auto fronts...
Error in `build_longer_spec()`:
! Can't subset columns that don't exist.
✖ Columns 'XXX_XX_XX_X', etc. don't exist.
Run `rlang::last_error()` to see where the error occurred.

Here are things I tried:
Downgraded to cran version but

[2022-11-17 11:45] boennecd opened #537 "Formulas for the Weibull weighting function"
## Project Robyn

## Describe issue
I looked at the documentation at https://facebookexperimental.github.io/Robyn/docs/features/#organic-variables to figure out the formula for the Weibull weighting function. The following is stated:

<img width="883" alt="Screenshot 2022-11-17 at 12 34 29" src="https://user-images.githubusercontent.com/8993362/202436094-b859618e-7188-485e-b141-e99bb0391d46.png">

[2022-11-17 15:55] laresbernardo commented on #366
Closing given the inactivity. Feel free to open in case this issue persists.

[2022-11-17 15:56] #366 closed

[2022-11-17 15:56] laresbernardo commented on #467
Closing given the inactivity. Feel free to open in case this issue persists.

[2022-11-17 15:56] #467 closed

[2022-11-17 15:56] laresbernardo commented on #446
Closing given the inactivity. Feel free to open in case this issue persists.

[2022-11-17 15:56] #446 closed

[2022-11-17 16:10] laresbernardo commented on #495
[Releases](https://facebookexperimental.github.io/Robyn/docs/releases/) section fully up to date.

[2022-11-17 16:10] #495 closed

[2022-11-17 16:17] #510 closed

[2022-11-18 09:28] gufengzhou commented on #534
This is quite puzzling that you have different file size than your colleagues. What machines / OS systems are you and your colleagues using?

[2022-11-18 21:16] cynthia10wang commented on #534
@gufengzhou We're all on Windows. I compared the OutputModels objects and it seems like mine is much larger due to the vec_collect - which is in current version robyn_run fuction but not in previous version. It creates additional xDecompVec etc. variables in trail[i] and also vec_collect item on its own.

[2022-11-20 15:24] gufengzhou commented on #536
Thanks for sharing an anonymised dataset for debugging. I can't reproduce your error though. I've tried 500 iterations and 1 trial and all is well. Have you updated the dependencies as well?

[2022-11-21 08:45] freudianfaults opened #541 "Error: C stack usage"
## Project Robyn

## Describe issue
Error: C stack usage  7954488 is too close to the limit

## Provide reproducible example
I am running into a C Stack usage issue after running the commands below:

[code]

## Environment & Robyn version
Make sure you're using the latest Robyn version before you post an issue.
- Check and share Robyn version: 3.7.2
- R version (Please, check and share: 4.1.2

[2022-11-21 09:29] sr2naik commented on #526
This error was resolved after I manually installed each CRAN package that was needed. The automatic install was not installing correctly with the update.

[2022-11-21 15:05] Amyhaoming commented on #541
Hi @freudianfaults, thanks for trying Robyn out!

It seems `InputCollect <- robyn_inputs(dt_input = df,` has no value assigned to "df", so it's calling density function of F distribution: df(x, df1, df2, ncp, log = FALSE) (https://stat.ethz.ch/R-manual/R-devel/library/stats/html/Fdist.html) and caused the error.
Please try importing input data and assign value there, e.g. a quick fix using demo da

[2022-11-21 15:40] laresbernardo commented on #534
Hello! Can you guys update to latest dev version and check how it goes? I've reduced the size of the `OutputModels` by aggregating results into a single aggregated dataframe thus returning a 50% lighter object.

[2022-11-21 15:58] jaspertambini commented on #532
Hey, just wondered if there was any luck with the Holiday file issue?

Really keen to use the app as looks so useful for testing purposes!

[2022-11-21 21:06] jsabastian opened #543 "Adding a penalty factor during initial model build will not allow for a model refresh"
## Project Robyn

## Describe issue
Setting the experimental parameter 'add_penalty_factor = TRUE' during the initial model build will not allow the 'check_hyper_fixed()' function to pass, resulting in the following error:

[code]

## Robyn Open Source MMM Users Post
[Link](https://www.facebook.com/groups/robynmmm/posts/1325203481581115/?comment_id=1325741678193962&reply_comment_id=132585224151623

[2022-11-21 22:58] laresbernardo commented on #543
Correction on description to be able to replicate this bug: initial model runs OK, but when refreshing with `robyn_refresh()` user gets posted error.

[2022-11-22 00:10] laresbernardo commented on #543
Ok, I've just pushed a fix. Given it's an experimental feature, it's expected to suffer some changes such as these: now the names of the hyperparameters for penalization ends (not starts anymore) with "_penalty" to keep the same format as the other hyperparameters (and show up in the prints nicely like attached image).

<img width="482" alt="Screen Shot 2022-11-21 at 7 09 24 PM" src="https://user-

[2022-11-22 03:02] jsabastian commented on #543
@laresbernardo Rebuild of the model using the penalty parameter refreshed correctly. Thanks for the fix! Also, I like the pareto front progress bar!

[2022-11-22 11:13] caarolinagil opened #544 "Can't install new version Robyn 3.8.0"
## Project Robyn

## Describe issue
I've tried to upgrade package Robyn (version 3.8.0) but I can't because in CRAN don't show it.
I have problems in Budget Allocator because both initial and optimized budget allocation are same and I saw that it could be a bug in the late version.

remotes::install_github('facebookexperimental/Robyn/R@allocation_range') doesn't work for me.

## Environment & Roby

[2022-11-22 14:05] miaox018 commented on #536
I've updated the dependencies again but this still occurs, this time is at robyn_run() step.
Error in `build_longer_spec()`:
! Can't subset columns that don't exist.
✖ Columns xxxx, etc. don't exist.

[2022-11-22 14:21] gufengzhou commented on #536
Sorry to hear that. We have an assumption now that it might be caused by the pivot_longer() function that melts "long tables", esp. for large iterations. Could you try to run only 1k and see if error still occurs?

BTW we just pushed a fix yesterday to reduce size of output objects (OutputModels & OutputCollect), which should ease some memory-related bugs.

[2022-11-22 16:46] miaox018 commented on #536
I just tried and same issue occurred :( Not sure if this is related but when I re-start the Rstudio, it wasn't able to locate the nevergrad installed. I had to go back to run this: use_virtualenv("r-reticulate", required = TRUE). The code started to run but end up with the same error:

Input data has 371 days in total: 2021-11-01 to 2022-11-06
Initial model is built on rolling window of 371 day: 2

[2022-11-22 17:21] laresbernardo commented on #543
Thanks, glad you found it useful. And thanks for checking back, I'll close this thread but feel free to reopen it if you get any further issues or comments.

[2022-11-22 17:21] #543 closed

[2022-11-22 18:14] laresbernardo commented on #523
Hi @andrewvasylyshyn I've just updated Robyn to version [3.8.2](https://github.com/facebookexperimental/Robyn/releases/tag/v3.8.2) and we've changed how and when we calculate decomposition values for carryover and immediate effects to be memory friendly. Can you please update, refresh, retry, and let us know how it goes with as many trials as you wish to run with? Thanks!

[2022-11-22 18:41] miaox018 commented on #536
Thanks! I was able to run the robyn_run() step but still had issue with output step:

Using robyn object location: C:/Users/xxxx/Documents/App_MMM_Build

 00:00:00 [====                                                   ] 7.14% | 1                                    Error in `dt_transformPlot[, med_select]`:
! Can't subset columns that don't exist.
✖ Column `xxxx` doesn't exist.
Run `rlang::last_e

[2022-11-22 18:41] cynthia10wang commented on #534
@laresbernardo Hi I re-ran with demo datasets on 2000 iterations * 5 trials and compared the size of OutputModels for 3 different recent packages:

3.8.1 - 538.1MB
dev version you posted above - 1GB
3.8.2 - 563.1 MB (please note that I was trying to install 3.7.2 using remotes::install_github("facebookexperimental/Robyn/R", version='3.7.2'), however for some reason it installed 3.8.2 instead). I t

[2022-11-22 18:44] laresbernardo commented on #534
Hi @cynthia10wang can you run it once more with latest version ([3.8.2](https://github.com/facebookexperimental/Robyn/releases/tag/v3.8.2) - just released)? We got rid of that `vec_collect` list and are calculating the decomp values from bottom to top so no memory issues should occur. Sorry for all these changes but we believe this last iteration will be the final onwards.

[2022-11-22 18:49] laresbernardo commented on #536
Can you share a reproducible example here so I can try and replicate this issue? It's as if you created `InputCollect` and then for some reason the name of the columns (media variable) change somehow and it doesn't find those variables. Currently, given the error shows, it's crashing while generating the "Spend response curve" in pareto.R, and it doesn't find of your media variables from `InputCol

[2022-11-22 19:44] cynthia10wang commented on #534
Yes I checked version before running those 3 comparisons and the last one is 3.8.2
My point is that it's still significantly larger than 3.7x versions due to xDecompVec...and I'd like to reverse back to 3.7.2 so that I can get the exact size of same OutputModels, but I can't seem to install 3.7.2 now.

With uninstalling and installing remotes::install_github("facebookexperimental/Robyn/R", version

[2022-11-22 19:50] laresbernardo commented on #534
To downgrade: `remotes::install_github("facebookexperimental/Robyn/R@v3.7.2")`
But I'd recommend you keep using the latest version so you can leverage all the new features and bugs fixed. If you actually ran the latest version I deployed a couple of hours ago, then you shouldn't have the `vec_collect` list, so the size of your output won't be as large as you mention. Please, check again and after

[2022-11-22 23:25] cynthia10wang commented on #534
Sorry just realized I missed typing two words in the previous comment where I posted the screenshot so it might be confusing.

1) Yes, in 3.8.2 vec_collect is gone, so size of OutputModels is down to half compared to 3.8.1 or one of the 3.8.1 dev version
2) However, it's still quite larger than 3.7.2, because although vec_collect is gone, xDecompVec, xDecompVecImmediate, xDecompVecCarryOver are st

[2022-11-23 01:14] laresbernardo commented on #534
YES! You're absolutely right, I missed that redundancy. I've just merged all 3 results (xDecompVec, xDecompVecImmediate, xDecompVecCarryOver) into a single data.frame (xDecompVec) for OutputModels object. Doing this reduced the results from 563 MB to 330 MB [41% reduction], following the demo (5 trials, 2000 iterations) as you did.

We are already delivering ~30% of the 3.8.1 version OutputModels

[2022-11-23 01:39] laresbernardo commented on #534
Last commit reduced OutputModels size to 246 MB (using the same demo example), so we are now 78% smaller than 3.8.1 version! Is it good enough for you to adopt this new version which is 6-ish times larger given we've split immediate and carryover effects?

[2022-11-23 13:56] miaox018 commented on #536
that was helpful, I actually found the paid_media_vars input is not in the right format. Not sure if this could be included as a precheck process so it's more detectable. But after the change, the code ran through. I'm now increasing the iterations and trials, hopefully it works too! Thanks all for your help here!

[2022-11-23 15:10] laresbernardo commented on #536
Can you please share the format you passed paid_media_vars initially and how you fixed it to see the difference? And yes, we'll add an additional check for this case to avoid this issue.

[2022-11-23 23:25] cynthia10wang commented on #534
Hi, some of our models are at least 300~400M big under 3.7.2 and upgrading to 3.8.1 meaning about 1.5-2GB difference and we found that it sometimes causes issues like Rstudio crashing and parallel plotting errors (using 1 fewer cores still doesn't help).
Is there a way to turn this off if we're not doing calibration?

[2022-11-23 23:39] laresbernardo commented on #534
@cynthia10wang can you please update to latest version (3.8.2) and see how it goes? It will be larger than the results you had when running 3.7.2, but that's because we are splitting immediate and carry-over effects for each model not only to calibrate against one of them but to provide the % of carryover / immediate response for each media variable (paid and not paid). That's something we can't r

[2022-11-23 23:42] laresbernardo commented on #544
Hi @caarolinagil You can updated to latest dev version using `remotes::install_github('facebookexperimental/Robyn/R') as you mentioned. And we will update CRAN version when 3.8.X is stable enough.

Can you share your anonymized results? Can you share a reproducible example to help us debug in case it's a bug?

On the other hand, have you checked this thread (#511)

[2022-11-24 01:36] gufengzhou commented on #511
Hi Arun, does this still occurs? From what I have seen, unchanged allocation is mostly caused by too narrow channel constraints. Make sure you try out wider constraints for the channels. Also FYI we've made the effort in v3.8.2 to reduce output sizes to ease the memory issue. Hope it works better for you now.

[2022-11-24 03:13] jsabastian opened #546 "Model outputs are not able to export into the robyn_object directory after update to 3.8.2"
## Project Robyn

## Describe issue
Robyn is not able to plot the model outputs into the robyn_object directory. The following error is thrown:

`>>> Running Pareto calculations for 6000 models on auto fronts...

 00:00:08 [===========================================================] 100% | 65

 00:00:10 [===========================================================] 100% | 79

  |

[2022-11-24 03:58] gufengzhou commented on #546
I've just pushed a fix. could you please update and test it again?

[2022-11-24 07:37] AruunnAnanda commented on #511
Hi @gufengzhou , please give me 1 more week to test it again.

I'll keep you updated. Thank you!

[2022-11-24 14:24] #546 closed

[2022-11-24 14:34] Sorkanius opened #547 "Memory Issue when running robyn_outputs"
## Project Robyn

## Describe issue
Once the models are trained and you run `robyn_outputs`, if the option `csv_out` is in `'pareto'` or `NULL` it takes up a lot of memory making the R session to close.

I have to turn that option to `NULL` and the usen the `robyn_onepagers` to get the reports.

## Provide reproducible example
My dataset has ~600 observations with around 5 media variables. Cannot

[2022-11-24 14:42] gufengzhou commented on #547
Hi, we've just updated to 3.8.2 with substantial reduction of object size. can you please update, restart R and check?

[2022-11-24 14:44] Sorkanius commented on #547
Well, that was fast :')

I will check and come back. Thanks!!

[2022-11-25 08:21] bart-vanvlerken opened #549 "About Returns and CSV Interpretation"
I want to compare the average revenue in my dataset to the optimal revenue after budget allocation, but when I add up the revenue of the individual channels from the optimizer one-pager, I end up with revenue that's about 5x less than the original revenue, even though the one-pager mentions an increase of 22%. Is there a way for me to find the number I'm looking for?

After some digging in the CSV

[2022-11-25 08:46] Sorkanius opened #550 "About Validation..."
## Project Robyn

## This is not a but its a feature request

So far the library has proved very useful, however I do find a bit opaque all related to validation.

Is there any accessible way to actually make a forecast?

I have seen that when updating the model the report with the actual fitted does not provide an Rsquared as the ones in your docs. I would like to know the actual error in forecas

[2022-11-25 21:54] laresbernardo commented on #550
Hi! We are currently working on time-series validation (first) and forecasting (second) features. As of today, the allocator optimizes towards past performance, so no need to report forecasting or R2 metrics. On the other hand, keep an eye on following updates for these new fetures and, if you're super curious, feel free to dig into the [ts_validation](https://github.com/facebookexperimental/Robyn

[2022-11-28 07:34] Sorkanius commented on #550
Thanks for the quick response! I will check the branch and close this issue.

[2022-11-28 07:34] #550 closed

[2022-11-28 11:32] #541 closed

[2022-11-28 15:50] shekharkhandelwal1983 opened #552 "Robyn Predict function development status"
As per the issue - https://github.com/facebookexperimental/Robyn/issues/351, there was a plan to develop prediction model within Robyn to predict on new records. Is there any progress or update on this ?

[2022-11-28 15:53] laresbernardo commented on #552
Hi @shekharkhandelwal1983 As I just mentioned (#550) this feature is still one of our top priorities and it's currently being developed, but first we have to launch time-series validation. Thanks for your interest

[2022-11-28 20:49] ogencoglu commented on #544
A side question: what is the logic behind version tags? 3.8.0 jumped to 3.8.2. Where is 3.8.1? Same happened with 3.6.0 to 3.6.2.

[2022-11-28 20:54] laresbernardo commented on #544
Hi! They logic behind those skipped versions is that we launched big new features (x.x.0 versions) and then we start fixing some un-squashed bugs with version (x.x.1) and when we consider it's stable enough (no bugs reported in a couple weeks or so) we close x.x.2 version.

[2022-11-29 10:13] shekharkhandelwal1983 commented on #552
Thanks @laresbernardo for your response. I will keep an eye for this enhancement request, as it is required for some of our new features.

[2022-11-30 09:35] caarolinagil commented on #544
Hi @laresbernardo, thanks for your comments!

Reviewing my code, I've seen that, in the situation "max_response_expected_spend", I use more than one spends and days combinations. So, I made a loop in the code to show the different combinations in the output and this is why the last iteration reflects the same values.

So far so good!

[2022-11-30 13:42] miaox018 commented on #536
it was in a data frame with one column only. Once I changed it to ‘unlist(dataframe$colnames)’, I got less warnings at robyn_inputs(), which was a sign already but it was not printing the exact error so it was hard to trace.

[2022-11-30 14:48] laresbernardo commented on #536
Ok, so checking that these inputs are vectors and not lists should be enough to avoid this specific issue you had? Something like `!is.list(paid_media_vars)` (given `is.vector(list())` is true) should work then?

[2022-11-30 14:50] ksorger opened #553 "Budget allocator for refreshed model not updating with new time period -"
## Project Robyn

## Describe issue
I refreshed my model and want to use the budget allocator "max_historical_response" but the new added dates are not taken into account.

## Provide reproducible example
Parameter data_max is not in my data's date range.

<img width="746" alt="Screenshot 2022-11-30 at 15 49 47" src="https://user-images.githubusercontent.com/80044633/204827358-51887921-f360-497c-9